<tr id='add_acl' class='btn_add'>
  <td class='add'><%= link_to_function _('btn_acl_add'), "['add_acl', 'add_acl_form'].each(Element.toggle); " %></td><td colspan='6' class='add_user'></td>
</tr>
<tr id='add_acl_form' style='display:none;'>
  <%= render :partial=>'acls/form' %>
</tr>
