<tr id='acl<%= li[:id] %>'>
  <td class="adm_icon"><%= link_to_remote( _("img_acl"), :update=>"acl#{li[:id]}", :url=>edit_acl_path(li), :method=>:get) %></td>
  <td class='group'><%= li.group.name %></td>
  <td class='act'><%= li.action %></td>
  <td class='name'><%= li.name %></td>
  <td class='query'><%= li.query %></td>
  <td class='exec group'><%= li.exec_group_id ? li.exec_group.name : '' %></td>
  <td class='exec skin'><%= li.exec_skin ? li.exec_skin.title : '' %></td>
</tr>