<div class='drive' id='groups'>
  <%= render :partial=>'node/groups'%>
</div>

<div class='drive' id='parent'>
  <%= render :partial=>'node/parent'    %>
</div>

<div class='drive' id='dates'>
  <%= render :partial=>'node/dates'    %>
</div>