<div class='<%= @node.class.to_s.downcase %>_title'>
  <div class='header'>
    <h1 class='s<%= @node.v_status %>'><%= show_title %>
      <%= node_actions(:actions=>:all) %>
    </h1>
    <div class='subtitle'><%= author(:large) %><%#= plug :links %></div>
  </div>
</div>