<div class='s<%= branch.class.to_s.downcase %>' ><%= link_to branch.name, :prefix => prefix, :controller => 'main', :action=>'site_tree', :id=>branch[:id], :prefix=>prefix %>
  <% if session[:user] %><span class='readers'><%= edit_button(:drive, :node => branch, :text=>readers_for(branch)) %></span><% end %>
  <span class='class'><%= link_to(branch.class.to_s.downcase, node_url(branch)) %></span></div>