<table class="block" cellspacing="0" borderspacing="0">
  <tr class="b<%= @node.v_status %>">
    <td class="preview">
      <%= link_to @node.img_tag('pv'), data_url(@node) %>
    </td>
    <td class='subtitle'>      
      <h1 class="s<%= @node.v_status %>"><span id='v_title<%= @node.v_id %>'><%= @node.v_title %></span><br/>
        <%= node_actions(:actions=>:all) %>
      </h1>
      <%= author(:large) %>
    </td>
  </tr>
</table>