<div id='pages'>
	<h3><%= trans "Documents" %></h3>

	<ul class="list" id="documents_list">
		<%= render :partial=>'li_doc', :collection=>@item.documents %>
		<%#= plug :btn, :add, Page %>
	</ul>
</div>