<table class="docs">
	<% docs.each do |doc| %>
	<tr>
		<td class='docpv'><%= doc.img_tag('mini') %><p><%= doc.filesize / 1000 %> Ko</p></td>
		<td class='docinfo'><h3><%= doc.title %></h3><p><%= doc.summary %></p></td>
	</tr>
	<% end %>
</table>