<table class="docs" cellspacing='0'>
  <% docs.each do |doc| %>
  <tr><td colspan='2' class='result_break'></td></tr>
  <tr>
    <td class='docpv'><%= link_to doc.img_tag('mini'), data_url(doc) %><p><%= fsize(doc.c_size) %></p></td>
    <td class='docinfo'><h4><%= link_to(doc.v_title, node_url(doc)) %></h4><p><%= doc.v_summary %></p></td>
  </tr>
  <% end %>
</table>