<% 
parents = []
parent  = site_tree.parent
while parent
  parents << parent
  parent = parent.parent 
end
parents.reverse_each do |node| -%>
  <li><%= render :partial=>'main/branch_title', :locals=>{:branch=>node} %>
  <ul>
<% end -%>
  <li><%= render :partial=>'main/branch_title', :locals=>{:branch=>site_tree} %>
    <ul class='main'>
      <%= render :partial=>'main/branch', :collection=>site_tree.children %>
    </ul>
  </li>
<% parents.each do -%>
  </ul></li>
<% end -%>