<div id='title'>
	<h1 class="s<%= @item.v_status %>"><%= @item.title %>
		<ul id="item_actions"><%= edit_button(:all) %></ul>
	</h1>
	<div id="header"><%= author(:large) %><%#= plug :links %></div>
</div>