<li><div class='header'>
    <span class='sign'><%= li.author.fullname %></span>
    <span class='title'><%= li.title %></span>
    <span class='answer'>answer</span>
    <span class='date'><%= long_date(li.created_at) %></span>
  </div>
  <div class='body'>
    <div class='text'><%= zazen(li.text) %></div>
    <ul class='sub'><%= render :partial=>'comment/li', :collection=>li.replies %></ul>
  </div>
</li>