<tr>
  <td class="icon"><%= trans("img_" + link.role) %></td>
  <td class="role"><%= link.role %></td>
  <td class="link"><%= link.rootpath.join('/') %><%#= link_to( link.fullpath.join('/'), :controller=>'web', :action=>'item', :url_prefix=>url_prefix, :path=> link.fullpath ) %></td>
  <td class="actions"> -- </td>
</tr>