<label for="node_c_file"><%= trans("document file")  %></label>
<div id="file" class='toggle_div'><%= tlink_to_remote("change", :update=>'file_form', :url=>{:controller=>'document', :action=>'file_form'}, :complete=>"new Element.toggle('file', 'file_form');") %></div>
<div id="file_form" class='toggle_div' style='display:none;'></div>

<% if !ImageBuilder.dummy? %>
<label for="c_crop_x"><%= trans("image")  %></label>
<div id="crop" class='toggle_div'><%= tlink_to_remote("crop", :url=>{:controller=>'document', :action=>'crop_form', :version_id=>@node.v_id}) %></div>
<div id="crop_form" class='toggle_div' style='display:none;'></div>
<% end -%>