<label for='node_c_content_type'><%= trans('content type') %></label>
<input  id='node_c_content_type' type='text' name='node[c_content_type]'/><br/>

<label for='node_c_ext'><%= trans('extension') %></label>
<input  id='node_c_ext' type='text' name='node[c_ext]'/><br/>