<label for="node_c_file"><%= _("document file")  %></label>
<div id="file"><%= link_to_remote(_("change document"), :update=>'file_form', :url=>file_form_document_path, :method => :get, :complete=>"new Element.toggle('file', 'file_form');") %></div>
<div id="file_form" style='display:none;'></div>

<%= @node.c_version_id == @node.v_id ? "<b id='original_caution'>#{_('you are editing the original')}</b>" : "" %>