<label for="c_file"><%= trans("document file")  %></label>
<div id="file"><%= link_to_remote(trans("change document"), :update=>'file_form', :url=>{:controller=>'document', :action=>'file_form'}, :complete=>"new Element.toggle('file', 'file_form');") %></div>
<div id="file_form" style='display:none;'></div>