<% [:first_name, :name, :address, :zip, :city, :telephone, :mobile, :email, :birthday].each do |sym| %>
<label for="<%= sym %>"><%= _(sym.to_s) %></label>
<%= text_field 'node', "c_#{sym}", :size=>nil %>
<% end %>