<% [:first_name, :name, :address, :zip, :city, :telephone, :mobile, :email, :birthday].each do |sym| %>
<label for="<%= sym %>"><%= _(sym.to_s) %></label>
<% if [:address].include?(sym) -%>
<%= text_area 'node', "c_#{sym}", :cols=>30, :rows=>3 %>
<% else -%>
<%= text_field 'node', "c_#{sym}", :size=>30 %>
<% end -%>
<% end %>