<label for='node_c_format'><%= _('format') %></label>
<input  id='node_c_format' type='text' name='node[c_format]' value='<%= @node.c_ext %>'/><br/>

<label for='node_c_mode'><%= _('mode') %></label>
<input  id='node_c_mode' type='text' name='node[c_mode]' value='<%= @node.c_mode %>'/><br/>

<label for='node_c_klass'><%= _('class scope') %></label>
<%= f.select('c_klass', Node.classes_for_form ) %><br/>