<label for='node_format'><%= _('format') %></label>
<input  id='node_format' type='text' name='node[format]' value='<%= @node.format %>'/><br/>

<label for='node_mode'><%= _('mode') %></label>
<input  id='node_mode' type='text' name='node[mode]' value='<%= @node.mode %>'/><br/>

<label for='node_klass'><%= _('class scope') %></label>
<%= select('node', 'klass', Node.classes_for_form, {:include_blank => true} ) %><br/>