/* ==================== LAYOUT ============== */

/* login, not found */

#login_form, #not_found { position:absolute; top:240px; left:0; width:550px; background:#9FA6AC; border:1px dotted #450009; }
#login_form div, #not_found div { float:right; font-size:0.85em; padding:5px;}
#login_form input { padding:1px; margin:0.3em; border:1px solid grey; }
#login_form table { text-align:right; margin:0;}

#not_found { background:#ADAF87}
#not_found div { padding:1em; }
#not_found p { margin-bottom:0.3em;}

/* nav main */
#nav_main { height:25px; }
#nav_main a { color:white; }

#lang, #path, #login, #visitor { padding:0.4em 0.8em; }
#lang { margin-left:250px; float:left;}
#lang.empty { padding:0; }
#path { float:left; }
#path li { display:inline;}
#login, #visitor, #search { float:right; }

/* menu. see below for styling */
#nav_menu { z-index:9999; position:absolute; top:25px; left:260px;}
#nav_menu li    { float:left; position:relative; }
#nav_menu li ul { position:absolute; left:-1px; width:10em; }
#nav_menu li ul li { float:none; }
#nav_menu li ul li ul { position:absolute; left:10em; top:-1px;}
/* if IE was any good we could use
#nav_menu li       > ul { display:none;  }
#nav_menu li:hover > ul { display:block; }
but we have to use :*/
#nav_menu li       ul { display:none;  }
#nav_menu li:hover ul { display:block; }
#nav_menu li:hover ul li       ul { display:none;  }
#nav_menu li:hover ul li:hover ul { display:block; }
#nav_menu li:hover ul li:hover ul li       ul { display:none;  }
#nav_menu li:hover ul li:hover ul li:hover ul { display:block; }
#nav_menu li:hover ul li:hover ul li:hover ul li       ul { display:none;  }
#nav_menu li:hover ul li:hover ul li:hover ul li:hover ul { display:block; }
#nav_menu li:hover ul li:hover ul li:hover ul li:hover ul li       ul { display:none;  }
#nav_menu li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul { display:block; }
/* end IE */

/* branding */
#branding { position:absolute; top:0; left:20px; }

/* search */
#search { position:relative; font-size:0.9em; }
.search { position:absolute; z-index:999; right:0; top:4px; }

/* context, content, related */
#context { position:absolute; top:125px; left:20px; width:220px; }
#content { margin-top:5em;  margin-left:260px; margin-right:230px; min-height:400px; }
#related { position:absolute; top:125px; right:5px; width:215px; padding-left:5px; }

/* site info */
#siteinfo { clear:both; }

/* ==================== STYLES ============== */

/* general settings */
body { font:0.9em Verdana, Arial, sans-serif; line-height:1; color:#242424; behavior:url('stylesheets/csshover2.htc');} /* IE hack */

a      { color:#266F92; text-decoration:none; }
a.wiki { color:inherit; border-bottom:1px dotted #2F73A0; }

h1, h2, h3, h4, h5 { margin-bottom:1em; }
h1, h2 { font-family:Georgia, Times, serif; color:#450009; margin-top:1.5em; font-style:italic; font-weight:bold;}
h1 { font-size:2.2em;}
.zazen h1 { font-size:1.8em;}
h2 { font-size:1.3em; }
h3, h4, h5 { font-size:0.9em; font-weight:bold; font-weight:bold; }
h3 { color:#450009;}

p, ul, ol, table, pre  { line-height:1.2; margin-bottom:1.5em; }
ul ul, ul ol, ol ol, ol ul { margin-bottom:0; }

.zazen b, .zazen strong { font-weight:bold;  }
.zazen i, .zazen em     { font-style:italic; }
/* inline forms */
.inline_form { margin:2px; padding:3px; background:#9FA6AC; border:1px dotted grey; font-size:80%;}
.inline_form input { padding:2px 4px; }
.inline_form p { display:inline; }
.inline_form .date_box { display:inline; }
.inline_form .btn_x { float:right; margin:0; }
.inline_form .btn_x a img { border:0; }
.inline_form .hidden { display:none; }
.inline_form select { width:8em; }
.inline_form .date_box input { width:12em; }
.node_v_title input { font-weight:bold; }
#notes { margin-top:2em; }
#notes .node_v_title input { width:20em; }
#related .inline_form p { display:block; margin:0.3em 0; }
#related .inline_form p.node_v_title { width:100%; font-size:1.2em; }

/* documents */
#related a img { border:1px solid grey; }
#related .btn_add img { border:0; }
.document { float:left; margin:0 10px 0 0; }
.document img { border:1px solid #333; background:#ccc; }

/* navigation */
#nav_main { background:#450009; font-size:0.85em; }
#nav_main a { color:white; }

#lang b { font-weight:normal; color:white;}
#path, #lang, #lang a, #path a { color:#A27C6E;}
#path a.current { color:white;}

/* menu */
#nav_menu { background-color:#F3F2E8; }
#nav_menu li { border:solid grey; border-width:0 1px 1px 0px; background-color:#F3F2E8; }
#nav_menu a  { display:block; color:black; padding:1px 8px 3px; font:1.1em Georgia, Times, serif;}
#nav_menu li:first-child { border-left-width:1px; }
#nav_menu li:hover { background-color:#D3D0B0;}
#nav_menu li ul { border:solid grey; border-width:1px 1px 0; background-color:#F3F2E8; }
#nav_menu li ul li { width:100%; border:solid grey; border-width:0 0 1px; }
#nav_menu li ul li:first-child { border-left-width:0; }

/* branding */
#branding { background:white; }
#branding img { border:1px solid #450009; }

/* search */
.search a { color:inherit; }
.search p { font-size:0.85em; }
#search_results li { border-bottom:1px solid #ccc; }
#search_results li:first-child { border-top:1px solid #ccc; }
.result_image { float:left; margin:0; padding:5px; }
.result_image img { border:1px solid #333;}
.result_image img.doc { border:0;}
.result_name  { margin: 0.3em; 0 0; }
.result_name  a { font-weight:bold; color:#450009; }
.result_name em { color: #333; font-size:0.7em;}
.result_path { color:#666; font-size:0.7em; margin:0.3em 0; }
#search_results .zazen { font-size:0.9em; font-style:italic; margin-top:1em; }

/* context, content, related */
#project_icon img { }
#context { }
.header h1 { margin-bottom:0.3em; }
.header .subtitle { font-size:0.8em; }
.header { margin-bottom: 2em; padding-bottom:0.5em; }
#related { border-left:1px solid grey; font-size:0.9em; }
#related .group { font-size:1em; font-weight:normal;}
#related ol { margin-left:1.5em; margin-bottom:0; }

/* site info */
#siteinfo { color:#B28B86; font-size:0.8em; border-top:1px solid #ccc; margin:5em; text-align:center; padding-top:1em; }
#siteinfo li { margin-top:0.3em; padding-left:2em; display:inline; }
#siteinfo li:first-chile { padding-left:0; }
#siteinfo a { color:#906060; }

/* notes */

.note { padding:10px 3px 10px; border-left:4px solid white; border-top:1px solid #ddd;}
.note .header { font-size:0.8em; color:#999; margin-bottom:0.5em; }
.note .header p { float:left; padding-top:2px; }
.note .header a { color:inherit;}
.note .title  { font:1em Helvetica, Arial, sans-serif; margin-top:0.3em; text-transform: uppercase; letter-spacing: 0.03em; font-weight:bold; color:#450009; width:316px; }
.note .log_at { width:60px;}
.note .zazen  { clear:both; font-size:0.85em; padding-left:60px; }

/* tree */
.tree    { font-size:0.9em; }
.tree a  { color:#450009; }
.tree li { margin-left:2em; list-style:disc; }
.tree li li { list-style:circle;}
.tree .current, .tree .parent { list-style:none; }
.tree .current { margin-bottom:2em; font-weight:bold; margin-left:1em; }
.tree .parent  { margin-left:0; }

/* -------- ZAZEN -------- */
.zazen img { border:1px solid #333;}
.zazen img.full { border-width:0;  }
.zazen img.doc { border:0;}

.zazen { padding-left:15px; }
.zazen h1, .zazen h2, .zazen h3 { margin-left:-15px; }

.zazen ul, .zazen ol, .zazen table { display:table; margin-left:2em; font-size:0.95em;}
.zazen ul { list-style:disc;}
.zazen li li { list-style:circle;}
.zazen ol { list-style:decimal;}

.zazen .box, .zazen pre { border:1px dashed #CEBB94; border-width:1px 0; background:#EAE9E8; padding:5px 4px 3px; display:table; }
.zazen pre, .zazen div .code, .zazen div .code_large {border:2px solid #bbb; margin:1em 80px 3em; display:block; white-space:pre;}
pre.left  { float:left;  margin-left:2em; margin-right:2em;}
pre.right { float:right; margin-left:2em; margin-right:2em;}
pre.full  { margin:0 0 0 -15px; }

.zazen table { background:#ECEBEA; border:1px solid #CEBB94; border-right-width:0; border-spacing:0;}
.zazen th { background:#C8C4BF; font-weight:normal; border-right:1px solid #CEBB94; padding:1px 4px; font-size:1.1em; font-style:italic; font-family:Times, serif;}
.zazen td { border:1px solid #CEBB94; border-width:1px 1px 0 0; padding:0px 4px;}
.zazen tr:first-child td { border-top-width:0;}

/* gallery */

.gallery { margin:auto; border:1px solid #bbb;  background:#eee; }
.gallery td     { padding:10px; }
.gallery img.pv { margin:5px;   }
.gallery_view   { width:613px; text-align:center; }
