.DS_Store
config/deploy_config.rb
config/database.yml
config/*.sphinx.conf
db/sphinx
doc/coverage
log/
pkg/*
public/images/ext/*_pv.png
public/images/ext/*_std.png
public/images/ext/*_tiny.png
public/images/ext/*_mini.png
REVISION
sandbox
sites/*
test/fixtures/*.yml
tmp/*
db/*.sqlite3
coverage
vendor/apache2_upload_progress/*
db/schema.rb
db/development_structure.sql
zena_console.rb
