<% node ||= @node
if @comments || node.discussion %>
<div class='comments' id='comments'>
  <ul><%= render :partial=>'comments/li', :collection => @comments || node.comments %>
    <% if node.can_comment? -%>
      <%= render :partial=>'comments/add', :locals=>{:node=>node} %>
    <% else %>
      <%= _('comments closed')%>
    <% end %>
  </ul>
</div>
<% end -%>