<% node ||= @node
if node.discussion || @comments %>
<div class='comments' id='comments'>
  <h3><%= trans('comments') %></h3>
  <ul><%= render :partial=>'comments/li', :collection => @comments || node.comments %>
    <% if node.can_comment? -%>
      <%= render :partial=>'comments/add', :locals=>{:node=>node} %>
    <% else %>
      <%= trans('comments closed')%>
    <% end %>
  </ul>
</div>
<% end -%>