<h3><%= _('manage comments') %></h3>
<div id='comment_errors'></div>

<%= will_paginate @comments %>
<ul class='comments' id='comments_list'>
  <%= render :partial=>'comments/li', :collection=>@comments %>
</ul>


<div id='bin'>
  <%= render :partial=>'comments/bin' %>
</div>