<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>500 Error</title>
</head>

<body style='font-family:Helvetica, Arial, sans-serif;'>
  <div style='display:table; margin:50px auto; background:#aaa; height:200px; width:600px; border:1px solid black;'>
  <h2 style='font-size:18px; text-align:center; margin-top:20px; border:1px solid red; border-width:1px 0; background:#faa; padding:10px;'>Sorry... An error prevented the requested page from rendering</h2>
  <p style='text-align:center; text-style:italic;'>This problem has been logged and will be acted upon.</p>
  </div>
</body>
</html>
