<div id='dates_errors' class='errors'></div>
<ul>
<%= form_remote_tag(:url => node_path(@node[:zip]), :html => { :method => :put, :rnd => rnd } ) %>
  <div class='hidden'><input type='hidden' name='drive' value='dates'/></div>
  <li><label for='node_event_at'><%= trans('event date') %></label><%= date_box('node', 'event_at') %></li>
  <li><label for='node_log_at'><%= trans('log date') %></label><%= date_box('node', 'log_at') %></li>
  <li class='submit'><%= submit_tag transb('change') %></li>
</form>
</ul>