<table id='<%= node.zip %>_<%= attribute %>' class='editable'>
  <tr>
<% table[1][0].each do |heading| -%>
    <th><%= heading %></th>
<% end -%>
  </tr>
<% table[1][1..-1].each do |row| -%>
  <tr>
<% row.each do |td| -%>
    <td><%= td %></td>
<% end -%>
  </tr>
<% end -%>
</table>