<div id='form_errors' class='errors'><%= error_messages_for(:node, :object => @node) %></div>
<div id='search'><%= search_box %></div>

<div class='selector'>

</div>

<div class='tab'>
  <%= render :partial => 'import_results' %>
</div>