<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>500 Error</title>
</head>

<body style='font-family:Helvetica, Arial, sans-serif; background:#eee;'>
  <!-- The zena_error500 is used we running automated tests. Do not change -->
  <div id='zena_error500' style='display:table; margin:50px auto; background:#aaa; height:200px; width:600px; border:1px solid black; border-radius:8px;'>
  <%= @render_error %>
  </div>
</body>
</html>
