<div class="search">
  <%= form_tag( search_nodes_path, :method => 'get' ) %>
  <div class='wrapper'><input type='text' accesskey='s' id='search_field' style="color:#aaa;" name='q' onfocus='this.style.color="black";this.value="";' value='<%= params[:q] || _('search field') %>'/></div>
  </form>
  <div id='result_loader' style='display:none;'><img alt='spinner' src='/images/ajax-loader.gif'/></div>
  <div id='search_results'></div>
</div>