<div class='image_title'>
  <div class='header'>
    <h1 class='s<%= @item.v_status %>'><span id='v_title<%= @item.v_id%>'><%= @item.v_title %></span>
      <ul class='item_actions'><%= edit_button(:all) %></ul>
    </h1>
    <div class='subtitle'><%= author(:large) %><%#= plug :links %></div>
  </div>
</div>