<div class='image_title'>
  <div class='header'>
    <h1 class='s<%= @node.v_status %>'><span id='v_title<%= @node.v_id%>'><%= @node.v_title %></span>
      <ul class='node_actions'><%= edit_button(:all) %></ul>
    </h1>
    <div class='subtitle'><%= author(:large) %><%#= plug :links %></div>
  </div>
</div>