<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title><%= @node.v_title %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr-fr" />
  <%= stylesheet_link_tag( 'zen', 'comment', 'search', 'code' ) %>
  <%= javascript_include_tag 'prototype', 'effects', 'zena' %>
  <%= uses_calendar %>
</head>

<body <%= @su %>><div id='template'>
  <div class="navbar">
    <%= lang_links %>
    <%= show_path   %>
    <%= login_link   %>
    <%= visitor_link %>
    <%= search_box   %>
  </div>

  <%= show_menu      %>
  <%#= logo Time.now.utc  %>
  <%= flash_messages %>

  <div id="left">
    <%#= plug :calendar, :tiny %>
    <%#= plug :notes %>
  </div>
  <div id="main">
    
    <% if @node.kind_of?(Contact) -%>
    <div class='contact_title'>
      <div class='b<%= @node.v_status %>'>
        <div class='title'>      
          <h1 class="s<%= @node.v_status %>"><%= show_title %><br/>
            <ul class='node_actions'><%= node_actions(:actions=>:all) %></ul>
          </h1>
          <%= author(:large) %>
        </div>
        <div class='content'>
          <ul>
            <% [:fullname, :address, :zip, :city, :telephone, :mobile, :email, :birthday].each do |key| -%>
              <% next unless value = @node.send("c_#{key}") %>
              <li><span class='label'><%= trans(key) %></span> <%= value %></li>
            <% end -%>
          </ul>
        </div>
      </div>
    </div>
    <% elsif @node.kind_of?(Image) -%>
    <div class='image_title'>
      <div class='header'>
        <h1 class='s<%= @node.v_status %>'><%= show_title %>
          <ul class='node_actions'><%= node_actions(:actions=>:all) %></ul>
        </h1>
        <div class='subtitle'><%= author(:large) %><%#= plug :links %></div>
      </div>
    </div>
    <% elsif @node.kind_of?(Document) -%>
    <div class='document_title'>
      <table class="block" cellspacing="0" borderspacing="0">
        <tr class="b<%= @node.v_status %>">
          <td class="content">
            <%= link_to @node.img_tag('pv'), data_url(@node) %>
          </td>
          <td class='subtitle'>      
            <h1 class="s<%= @node.v_status %>"><%= show_title %><br/>
              <ul class='node_actions'><%= node_actions(:actions=>:all) %></ul>
            </h1>
            <%= author(:large) %><%#= plug :links %>
          </td>
        </tr>
      </table>
    </div>
    <% else -%>
    <div class='<%= @node.class.to_s.downcase %>_title'>
      <div class='header'>
        <h1 class='s<%= @node.v_status %>'><%= show_title %>
          <ul class='node_actions'><%= node_actions(:actions=>:all) %></ul>
        </h1>
        <div class='subtitle'><%= show_author(:size=>:large) %><%#= plug :links %></div>
      </div>
    </div>
    <% end -%>
    <div class="content" id='content'>
      <%= show(@node, :v_summary, :text=>'')%>
      <%= show(@node, :v_text   ) %>
      <%= render :partial=>'comment/list' %>
    </div>

    <div id="right">
      <div id='documents'>
        <%= render :partial=>'document/list' %>
      </div>
      <div id='pages'>
        <%= render :partial=>'page/list'     %>
      </div>
    </div>
  </div>
  <%= css_edit %>
  </div>
</body>
</html>