<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title><%= @node.v_title %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr-fr" />
  <%= stylesheet_link_tag( 'zen', 'comment', 'search', 'code' ) %>
  <%= javascript_include_tag 'prototype', 'effects', 'zena' %>
  <%= uses_calendar %>
</head>

<body <%= @su %>>
  <div class="navbar">
    <div id='lang'><%= lang_links %></div>
    <div id='path'><%= show_path   %></div>
    <div id='login'><%= login_link   %></div>
    <div id='visitor'><%= visitor_link %></div>
    <div id='search'><%= search_box   %></div>
  </div>

  <div id='menu'><%= show_menu      %></div>
  <div id='logo'><a href='/'><img src='/img/logo.png' width='220' height='100' alt='logo'/></a></div>
  <%= flash_messages %>

  
  <% hot = @node.hot || @node %>
  <div id='left'>
    <div id='tinycal'><%= calendar(:find=>:news, :size=>:tiny) %></div>
    <div class='header'>
      <h1 class='s<%= hot.v_status %>'>
        <%= node_actions(:actions=>:all, :node=>hot) %><br/>
        <%= show_title(:node=>hot) %>
      </h1>
      <div class='subtitle'><%= show_author(:node=>hot) %></div>
    </div>
    <div id='drive' style='display:none;'></div>
    <div class='content'>
      <%= hot[:v_summary] ? show(hot, :v_summary) : show(hot, :v_text) %>
    </div>
  </div>
  
  <div id='main'>
    <div id='content'>
      <div id='largecal' style='display:none;'></div>
      
      <% if home = @node.home -%>
      
      <%= render :partial=>title_partial(home) %>

      <div class="content">
        <%= show(home, :v_summary )%>
        <%= show(home, :v_text, :text=>''  ) %>
      </div>
      <% end -%>
      
      
      <div id='notes'>
        <%= render :partial=>'note/list', :locals=>{:list=>notes(:find=>:all_notes, :order=>'log_at DESC', :limit=>10)} %>
      </div>
    </div>

    <div id="right">
      <% if contact = @node.contact %>
      <div id='contact'>
        <%= show(contact, :v_text   ) %>
      </div>
      <% end -%>
      <div id='documents'>
        <%= render :partial=>'document/list' %>
      </div>
      <div id='pages'>
        <%= render :partial=>'page/list'     %>
      </div>
    </div>
  </div>
  <%= css_edit %>
</body>
</html>