<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title><%= 'Page not found' %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr-fr" />
  <%= stylesheet_link_tag( 'zen' ) %>
  <%= javascript_include_tag 'prototype', 'effects', 'zena' %>
  <%= uses_calendar %>
</head>

<body <%= @su %>>
  
  <div class="navbar">
    <%= login_link   %>
    <%= visitor_link %>
  </div>

  <%= show_menu      %>
  <%#= logo Time.now.utc  %>
  <%= flash_messages %>

  <div id="not_found"><div>
    <p><b><%= trans "Sorry, the requested page could not be found." %></b></p>
    <p><%= trans "Please go" %> <a href="/"><%= trans "home" %></a>,
       <a onclick="history.go(-2)" href="#"><%= trans "back" %></a>
       <%= trans "or" %> <a href="/login"><%= trans "login" %></a>
    </p>
  </div></div>
  
</body>
</html>