<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title><%= @node ? @node.fullpath : 'Zena' %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr-fr" />
  <%= stylesheet_link_tag 'popup', 'search' %>
  <%= javascript_include_tag 'prototype', 'effects', 'controls', 'zena' %>
  <%= javascript("var is_editor = true;")%>
  <%= uses_calendar %>
</head>

<body onLoad='popup_loaded();'>
  <div id='messages'>
    <%= flash_messages %>
    <div id='loader'><img src='/images/ajax-loader.gif'/> <%= trans("uploading") %></div>
  </div>
<%= @content_for_layout %>

</body>
</html>
