<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title><%= @item.v_title %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr-fr" />
  <%= stylesheet_link_tag( 'zen' ) %>
  <%= javascript_include_tag 'prototype', 'effects', 'zena' %>
  <%= uses_calendar %>
  <%= javascript "Calendar._TT[\"DEF_DATE_FORMAT\"] = \"#{trans('long_date')}\";" if trans('long_date') != 'long_date' %>
</head>

<body <%= @su %>>
  
  <div id="navbar">
    <%= lang_links %>
    <%= path_links   %>
    <%= login_link   %>
    <%= visitor_link %>
  </div>

  <%= show_menu      %>
  <%= logo Time.now  %>
  <%= flash_messages %>

  <div id="left">
    <%#= plug :calendar, :tiny %>
    <%#= plug :notes %>
  </div>
  <div id="main">
    <% if @item.kind_of?(Document) -%>
      <%= render :partial=>'main/doc_title' %>
    <% else -%>
      <%= render :partial=>'main/title' %>
    <% end -%>
    <div class="drive" style="display:none;"></div>

    <div class="content" id='content'>
      <%= show(@item, :v_summary) %>
      <%= show(@item, :v_text   ) %>
      
      <%#= plug :comments %>
    </div>

    <div id="right">
      <div id='documents'>
        <%= render :partial=>'document/list' %>
      </div>
      <div id='pages'>
        <%= render :partial=>'page/list'     %>
      </div>
    </div>
  </div>
  
</body>
</html>