<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title><%= @item.title %></title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="fr-fr" />
  <%= stylesheet_link_tag( 'zen' ) %>
	<%= javascript_include_tag 'prototype', 'effects', 'zena' %>
	<%= uses_calendar %>
	<%= javascript "zena['item_id'] = #{@item.id};" %>
	<%= javascript "Calendar._TT[\"DEF_DATE_FORMAT\"] = \"#{trans('long_date')}\";" if trans('long_date') != 'long_date' %>
</head>

<body <%= @su %>>
	
	<div id="navbar">
		<%#= plug :language %>
		<%#= plug :path     %>
		<%= login_link   %>
		<%= visitor_link %>
	</div>

	<%#= plug :menu %>
	<%= logo Time.now  %>
	<%= flash_messages %>

	<div id="left">
	  <%#= plug :calendar, :tiny %>
	  <%#= plug :notes %>
	</div>
	<div id="main">
		<%= render :partial=>'main/title' %>
		<div id="drive" style="display:none;"></div>

		<div id="content">
			<%#= plug :summary %>
			<%#= plug :text %>
			<%#= plug :comments %>
		</div>

		<div id="right">
			<%#= plug :documents %>
			<%= render :partial=>'main/pages' %>
		</div>
	</div>
	
</body>
</html>
