.label { color:#560B0A;}


/* rubish bin */
#bin { margin-top:5px; float:left; padding:3px; position:relative; }
#bin span { position:absolute; top:2px; left:30px; }

/* ADMIN USERS, GROUPS */
ul.admin_links { margin:70px 25px 0; border:1px solid #35462B; background:#eee;}
.admin_links li { padding:0;}
.admin_links li a { margin:0; border-top:1px solid #35462B; padding:10px 5px; font-size:0.9em; color:#560B0A;  display:block;}
.admin_links li:first-child a { border:0; }
.admin_links li a:hover { background:#C47330; }
.admin_links li a.on {background:#C28D61;}


table.admin, table.admin table { border-collapse:separate; border-width:0; margin:auto; border-color:#666; border-style:solid; margin:4em 5px 5px; }
table.admin { width:600px; font-size:0.8em; }
table.admin table { width:90%; }
table.admin table td { text-align:left; }
table.admin td:first-child { border-left: 1px solid #666; }

#admin_users  table.admin {background:#B3CC92}  
#admin_groups table.admin {background:#91B9AE}
#add_user  td { border: 0;}
#add_group td { border: 0;}
#add_user  td { background: white;}
#add_group td { background: white;}
.admin td { padding: 3px; height:18px; border-right:1px solid #666; border-bottom:1px solid #666; }
.admin th { border-bottom:1px solid #666; padding:4px;}
.admin .icon, .admin .add, .admin .action { width:22px; text-align:center; vertical-align:top;}
.admin table { width:100%;}
.admin td { padding: 2px 6px; }
.admin td.login { width: 8em; }
.admin td.name { width: 8em;}
.admin td.fullname { width: 15em;}
.admin td.users, .admin td.groups { width: auto;}
.admin .login i {color:#A0A0A0; font-style:normal;}
.admin .add { padding:0; }
.admin .add table { border: 0; margin:10px;}
.admin .add table td { border: 0; font-size:inherit; padding: 2px; }
.admin .btn_validate { float:right; margin-right:30px; }
.btn_validate input { background:#C8D8C7; border:1px outset black;}
.admin .label {width:80px; line-height:1.9em;}
.admin th { color:#450009; }
.admin .source, .admin .source_role { background:#DBBFBF;}
.admin .target, .admin .target_role { background:#C0DBC0;}
.admin .source_icon { background:#DBBFBF; text-align:center;}
.admin .target_icon { background:#C0DBC0; text-align:center;}
.destroy input, .destroy form { display:inline; }
.destroy { border:1px solid #300; padding:3px; background:#fdd; float:right;}
.source_role, .target_role { font-weight:bold;}
.source_role { text-align:right;}
.nav td { border:0;}
.prev_page, .next_page { margin:0; }
.next_page { float:right; }

/* status */
.u40 { background:#B7CC87;}
.u30 { background:#AFDBDF;}
.u20 { background:#73A1A5;}
.u0  { background:#994747;}

/* actions */
#right { border:0; }
ul.actions { position:relative; }
ul.actions li { margin:0; border:1px dashed #9E9E9E; background: #D3D3D3; display:block; margin-bottom:10px;}
ul.actions form {margin:8px 0 0;}
ul.actions ul { margin:0 0 0 1.6em; padding:0; }
#preferences ul li, ul.actions ul li { padding:4px 0; border:0; margin:0;}
#preferences .errors li {padding:0px; margin-left:5px;}
ul.actions .align { position:relative;}
ul.actions .align span { position:absolute; right:2px; }
ul.actions select { width:186px; } 
#preferences li { width:60%; margin-bottom:30px;}
#preferences li li { width:100%;}
#preferences .errors ul { margin:0 -5px 5px;}
.actions .errors ul { background:#DDC8C8; margin:0 0 5px; padding:4px 0; border-bottom:1px solid #5A3231;}
.actions .errors li { margin-left:0.4em; background:inherit; line-height:1.2em;}
