.label { color:#560B0A;}

#left ul { margin:70px 25px 0; border:1px solid #35462B; background:#eee;}
#left li { padding:0;}
#left li a { margin:0; border-top:1px solid #35462B; padding:10px 5px; font-size:0.9em; color:#560B0A;  display:block;}
#left li:first-child a { border:0; }
#left li a:hover { background:#C47330; }
#left li a.on {background:#C28D61;}

#content h3 { margin:0 0 1em; font-size:1.6em; color:#C28D61;}

/* rubish bin */
#bin { margin-top:5px; float:left; padding:3px; position:relative; }
#bin span { position:absolute; top:2px; left:30px; }

/* ADMIN USERS, GROUPS */
table.admin_ug, table.admin_ug table { border-width:1px 0 0 0; margin:auto; border-color:#333; border-style:solid; margin:5px; }
table.admin_ug { width:600px; font-size:0.8em; }
table.admin_ug td:first-child { border-left: 1px solid #333; }

#admin_users  table.admin_ug {background:#B3CC92}  
#admin_groups table.admin_ug {background:#91B9AE}
#add_user  td { border: 0;}
#add_group td { border: 0;}
#add_user  td { background: white;}
#add_group td { background: white;}
.admin_ug td { padding: 3px; height:18px; border-right:1px solid #333; border-bottom:1px solid #333; }
.admin_ug .icon, .admin_ug .add, .admin_ug .action { width:22px; text-align:center; vertical-align:top;}
.admin_ug table { width:100%;}
.admin_ug td { padding: 2px 6px; }
.admin_ug td.login { width: 8em; }
.admin_ug td.name { width: 8em;}
.admin_ug td.fullname { width: 15em;}
.admin_ug td.users, .admin_ug td.groups { width: auto;}
.admin_ug .login i {color:#A0A0A0; font-style:normal;}
.admin_ug .add_ug { padding:0; }
.admin_ug .add_ug table { border: 0; margin:10px;}
.admin_ug .add_ug table td { border: 0; font-size:inherit; padding: 2px; }
.admin_ug .btn_validate { float:right; }
.btn_validate input { background:#C8D8C7; border:1px outset black;}
.admin_ug .label {width:80px; line-height:1.9em;}

/* actions */
#right { border:0; }
ul.actions { position:relative; }
ul.actions li { margin:0; border:1px dashed #9E9E9E; background: #D3D3D3; padding:5px 5px; font-size:0.9em; color:#560B0A;  display:block; margin-bottom:10px;}
ul.actions form {margin:8px 0 0;}
ul.actions ul { margin:0 0 0 1.6em; padding:0; }
#preferences ul li, ul.actions ul li { padding:4px 0; border:0; margin:0;}
#preferences .errors li {padding:0px; margin-left:5px;}
ul.actions .align { line-height:1.5em; position:relative;}
ul.actions .align span { position:absolute; right:2px; }
ul.actions select { font-size:10px; width:186px; margin:2px;} 
#preferences li { width:60%; margin-bottom:30px;}
#preferences li li { width:100%;}
#preferences .errors ul { margin:0 -5px 5px;}
.actions .errors ul { background:#DDC8C8; margin:0 0 5px; padding:4px 0; border-bottom:1px solid #5A3231;}
.actions .errors li { margin-left:0.4em; background:inherit; line-height:1.2em;}

/* translations */
.border { border:1px solid grey; border-spacing:0; font-size:0.8em;}
.border td {padding:1px; border-top:1px solid grey;}
.border tr:first-child td { border:0;}
.border td.header {background:grey; color:white; border-top-color:#979797;}
.border td.title { background:#E68200; text-align:center; padding:3px; }
.border .title div { position:relative; }
.border .title a { color:#2B3E52;}
.border .title #previous_page { position:absolute; left:10px; top:5px; }
.border .title #next_page { position:absolute; right:10px; top:5px; }
.border .title #lang { color:white; font-weight:normal; display:inline; margin:0 15px; font-size:1.8em; color:#965A13;}
.border .title #lang a { color:#965A13;}
.border td.phrase {padding:1px 4px; border-right:1px solid grey;}
.border .hint {width:100px; font-size:80%; color:#333;}