/* small calendar */

.tinycal .title { text-align: center; background:white; margin-bottom:0.5em; color:#655;}
.tinycal table { margin:auto; cursor:pointer; }
.tinycal table { border: 1px solid #CAD4DA; background:#F5F8F9; }
.tinycal td { text-align:center; color:#333; }
.tinycal a { color:inherit; }
.tinycal em { border-bottom:2px solid orange; font-style:normal; }
.tinycal .head td { padding: 2px; color:#655; text-align:center; }
.tinycal .body #tiny_today p { background:#CFD6DA; }
.tinycal .body td.other, .tinycal .body td.other a { color:#ccc; }
.tinycal .body td.sat, .tinycal .body td.sat a { color:#35950B; }
.tinycal .body td.satother, .tinycal .body td.satother a { color:#C8DEC1; }
.tinycal .body td.sun, .tinycal .body td.sun a { color:#35950B; }
.tinycal .body td.sunother, .tinycal .body td.sunother a { color:#C8DEC1; }

/* LARGE CALENDAR */
.largecal .title { text-align: center; background:white; margin-bottom:0.5em; font-size:1.3em; }
.largecal .title a { color:#655; font-size: 1em; font-family: Georgia, Times, serif;}
.largecal .title span { padding:0 6px; }
.largecal table { border:1px solid #655; margin:auto; border-collapse:separate; line-height:1em;}
.largecal .head td  { border-left:1px solid #836C6C; background: #655; color: #fff; width:14%; height:0.8em; text-align:center; padding:0.4em 3px; }
.largecal .head td:first-child {border-left-width:0;}
.largecal .body td  { background: #ffd; width:14%; height:3.4em; padding:3px; vertical-align:top; font-style:italic; text-align:left; color:#999; 
border:1px solid #DDDBC1; border-width:1px 0 0 1px; font-size:0.8em;}
.largecal .body a { font-weight:normal; font-style:normal;}
.largecal .body td:first-child {border-left-width:0;}

.largecal .body .other { background:#DDDBC1;}
.largecal .body .today { font-weight:bold; color:black; background:#DCF6FF; margin:0;}
.largecal .body .sun, .largecal .body .sat { background:#E6FFDC;}
.largecal .head .sun, .largecal .head .sat { background:#636D5E;}
.largecal .body .ref { background:white;}
.largecal .body .sunother, .largecal .body .satother { background:#C8DEC1;}
.largecal .body .suntoday, .largecal .body .sattoday  { font-weight:bold; color:black; background:#C7FFC3;}

.largecal .body div { margin:2px; margin-left:1.2em; font-style:normal; font-weight:normal; font-size:1.1em; }
.largecal .body div a { padding:1px;}
.largecal .body div a:hover { text-decoration:underline; }
.largecal .body span { float:left; }
.largecal .body ul   { margin-left:18px; display:block;}
.largecal .body li   { margin:0;}