/* small calendar */

.tinycal .title { display:table; margin:auto; background:white; margin-bottom:0.5em; color:#655;}
.tinycal table { margin:auto; cursor:pointer; }
.tinycal table { border: 1px solid #CAD4DA; background:#F5F8F9; }
.tinycal td { text-align:center; color:#333; }
.tinycal a { color:inherit; }
.tinycal .title span { display:block; float:left; text-align:center;}
.tinycal .title .date { width:130px; }
.tinycal em { border-bottom:2px solid orange; font-style:normal; }
.tinycal .head td { padding: 2px; color:#655; text-align:center; }
.tinycal .body #tiny_today p { background:#CFD6DA; }
.tinycal .body td.other, .tinycal .body td.other a { color:#ccc; }
.tinycal .body td.sat, .tinycal .body td.sat a { color:#35950B; }
.tinycal .body td.satother, .tinycal .body td.satother a { color:#C8DEC1; }
.tinycal .body td.sun, .tinycal .body td.sun a { color:#35950B; }
.tinycal .body td.sunother, .tinycal .body td.sunother a { color:#C8DEC1; }


/* LARGE CALENDAR */
#cal h3 { display:table; margin:auto; font-size:1.3em; }
#cal h3 p { color:#655; font-family: Georgia, Times, serif; margin-bottom:0.5em; display:table; float:left; width:20em; text-align:center;}
#cal h3 a { padding:0 6px; display:block; float:left;}
.largecal { border:1px solid #655; margin:auto; border-collapse:separate; line-height:1em; clear:left;}
.largecal th  { border-left:1px solid #836C6C; background: #655; color: #fff; width:14%; height:0.8em; text-align:center; padding:0.4em 3px; }
.largecal th:first-child {border-left-width:0;}
.largecal td  { background: #ffd; width:14%; min-height:3.4em; padding:3px; vertical-align:top; font-style:italic; text-align:left; color:#999;
border:1px solid #DDDBC1; border-width:1px 0 0 1px; font-size:10px;}
.largecal a { font-weight:normal; font-style:normal;}
.largecal td:first-child {border-left-width:0;}

.largecal .other { background:#DDDBC1;}
.largecal .today { font-weight:bold; color:black; background:#DCF6FF; margin:0;}
.largecal .sun, .largecal .sat { background:#E6FFDC;}
.largecal th.sun, .largecal th.sat { background:#636D5E;}
.largecal .ref { background:white;}
.largecal .sunother, .largecal .satother { background:#C8DEC1;}
.largecal .suntoday, .largecal .sattoday  { font-weight:bold; color:black; background:#C7FFC3;}

.largecal p { margin:0;}
.largecal ol { margin:0; list-style:none;}
.largecal li { margin:0; line-height:12px}
.largecal li:first-child { border-top:0;}
.largecal li { border-top:1px solid #aaa;}

.assign .body td { padding:0;}
.assign .body ol { border-left:1px solid #ddd;}
.assign .body li { margin-top:0; margin-bottom:0; min-height:1.5em; border-top:1px solid #ddd; padding:2px;}
.assign .body li:first-child { border-top:0;}

.assign .on { background:#bfb; }
.assign a { color:#888; display:block; height:100%;}
.assign .free a { color:transparent;}
.assign .used { background:#fbb; }