.idle_code .c { color: #005; font-style: italic; }
.idle_code .keyword { color: #622; font-weight: bold; }
.idle_code .method { color: #944; }
.idle_code .class { color: #074; }
.idle_code .module { color: #050; }
.idle_code .p { color: #447; font-weight: bold; }
.idle_code .symbol { color: #099; }
.idle_code .string { color: #361; }
.idle_code .char { color: #F07; }
.idle_code .ident { color: #004; }
.idle_code .constant { color: #07F; }
.idle_code .regex { color: #B66; }
.idle_code .number { color: #D55; }
.idle_code .attribute { color: #33a; }
.idle_code .global { color: #3B7; }
.idle_code .expr { color: #227; }
.idle_code .tag {color: #171;}
.idle_code .punct {color: #622;}
.idle_code .ztag {color: #622; font-weight: bold; }
.idle_code .param { color:#a33;}
.idle_code .value { color:#449;}
.idle_code .t {color: #171;}
.idle_code .ruby .p { color: #447; }
.idle_code .expr { color:#227; background:#DDDBD2; padding:2px 0;}
.idle_code pre { display:inline; }
.idle_code .root  { color:#966;}
.idle_code .variable { color:#33a;}
.idle_code .document, .idle_code .key { color:#099;}
.idle_code .comment { color: #005; font-style: italic; }
.idle_code .id    { color:#73302F; font-weight:bold;}
.idle_code .class { color:orange;}
.idle_code .sub { color:#622; font-weight:bold;}
.idle_code .context {color: #07b;}

pre.idle_code {
overflow:auto; /* Safari */
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
}