.ruby .c { color: #005; font-style: italic; }
.ruby .keyword { color: #622; font-weight: bold; }
.ruby .method { color: #944; }
.ruby .class { color: #074; }
.ruby .module { color: #050; }
.ruby .p { color: #447; font-weight: bold; }
.ruby .symbol { color: #099; }
.ruby .string { color: #361; }
.ruby .char { color: #F07; }
.ruby .ident { color: #004; }
.ruby .constant { color: #07F; }
.ruby .regex { color: #B66; }
.ruby .number { color: #D55; }
.ruby .attribute { color: #33a; }
.ruby .global { color: #3B7; }
.ruby .expr { color: #227; }

.xml .tag {color: #171;}
.xml .punct {color: #622;}
.xml .attribute { color:#a33;}
.xml .string { color:#449;}

.zafu .tag {color: #171;}
.zafu .punct {color: #622;}
.zafu .ztag {color: #622; font-weight: bold; }
.zafu .param { color:#a33;}
.zafu .value { color:#449;}

.xml .tag {color: #171;}
.xml .punct {color: #622;}
.xml .attribute { color:#a33;}
.xml .string { color:#449;}

.erb .t {color: #171;}
.erb .p {color: #622; background:#DDDBD2; padding:2px 0;}
.erb .ruby .p { color: #447; }
.erb .expr { color:#227; background:#DDDBD2; padding:2px 0;}
.erb pre { display:inline; }

.sh .p { color:#686;}
.sh .root  { color:#966;}
.sh .variable { color:#33a;}
.sh .method { color: #944; }

.css .comment { color: #005; font-style: italic; }
.css .p { color:#686;}
.css .variable { color:#33a;}
.css .method { color: #944; }
.css .t   { color: #171;}
.css .id    { color:#73302F; font-weight:bold;}
.css .class { color:orange;}


pre code {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
}