body.forum { background:#ff9; font-family: Arial, Helvetica, sans-serif; }
h3.forum_titre {}

table.forum { width:100%; border-spacing:0px; font-size:10pt; }
table.forum p.spip {     padding-left:0px; }
td.forum_titre { padding:2px; background:#ddd; font-size:9pt; border:1px solid #888; font-weight:bold; color:#522; }
td.forum_date { padding:2px; background:#eee; width:140px; font-size:7pt; color:#333; text-align:left; border-width:1px 0px 1px 0px; border-style:solid; border-color:#888; }
td.forum_date a { color:#333; }
td.forum_rep { background:#eee; width:60px; font-size:7pt; color:#333; text-align:center; border-width:1px 1px 1px 0px; border-style:solid; border-color:#888; border-left:1px dashed #999; }
td.forum_texte { padding:5px; padding-left:10px; background:#eee; border-width:0px 1px 1px 1px; border-style:solid; border-color:#888; }
td.forum_texte2 { padding:5px; padding-left:10px; background:#eee; border-left:1px dashed #aaa; }
td.forum_sous { background:#eee; padding-left:15px; padding-right:2px; padding-bottom:2px; padding-top:2px; border-width:0px 1px 1px 1px; border-style:solid; border-color:#888; }
td.forum_spacer { height:10px; }
td.forum_hspacer { width:5px; }
div.spip_encadrer { font-size:9pt; }
div.forum_site a { color:#44f; text-decoration:none; }

