.grid td.action {border-width:0 0 0 1px; font-size:70%}
.grid tr.action td {border-width:0 0 1px 0; font-size:70%}
.grid tr.action td.action {border:0}
.grid td.input, .grid th.input { padding:0;}
.grid .input input, .grid .input textarea { margin:0; padding:0;font-size:inherit;}
.grid td.changed, .grid .new td.changed {background:#E5DDD7}
.grid .new td {background:#B2DFEE}
.grid .new td.action {background:none}
.grid .saved { background:#A3FF4F}
.grid td.error, .grid tr.error td { background:#FFB6C1; border-color:red}
.grid td.undone, .grid td.changed.undone, .grid th.undone, .grid th.changed.undone { background:#F3F07F}
.grid .action span {cursor:pointer; visibility:hidden;}
.grid:hover .action span {visibility:visible;}
.grid .action .add {background:url('/images/bullet_add.png') no-repeat; padding:5px;}
.grid .action .del {background:url('/images/bullet_delete.png') no-repeat; padding:5px;}
.grid .action .copy {background:url('/images/table_go.png') no-repeat; padding:8px;}

.grid_btn a {text-decoration:none; border:1px solid #333; border-radius:4px; padding:2px 5px; color:white;}
.grid_btn {margin:1em 0}
.grid_btn a.save {background:#80B62D}
.grid_btn a.undo {background:#AAB76D}
.grid_msg {border:1px solid #888; background:#eee; border-radius:4px; padding:5px; display:table}

.tags li {border-radius:2px; background:#ccc url('/images/remove_tag.png') no-repeat; padding:2px 5px 2px 15px; margin:3px; display:inline; background-position:2px 4px}
.tags li.add {background:#8c8 url('/images/add.png') no-repeat;background-position:1px 2px}
