/* GENERAL */
/*   on background color change, change ajax-loader.gif : http://www.ajaxload.info/ --> */
* {margin: 0; padding: 0;}
html { height:100%;}
a {text-decoration: none; color:#266F92;}
a img {border: none;}
body {font: 0.9em Arial, Helvetica, Verdana, sans-serif; background:#9FA6AC; line-height: 1; color: #333; height:85%;  behavior: url('stylesheets/csshover2.htc');} /* WinIE hack */
.clear { clear:both;}
.next { float:right; margin-right:10px; }
.previous { float:left;}
.btn_x {float:right;}
.errors ul { background:#DDC8C8; margin:0 0 5px; padding:4px 0; border-bottom:1px solid #5A3231;}

/* search box */
#search_box { z-index:999; z-index:999; position:absolute; top:1px; right:20px;}

/* messages and ajax-loader */
#messages { position:absolute; top:0; line-height:1.4em; width:100%; }
#loader { visibility:hidden;}
#loader img {float:left;}
#notice, #error {padding:2px 8px; border: 1px dotted #835857; width: 100%;}
#error  { background:#DDC8C8;}
#notice { background:#D8E0C7;}

/* tab selector */
.selector { position:absolute; z-index:99; top:27px; width:100%; font-size:0.9em;}
.selector div { float:left; height:20px; border:1px solid #333; border-width:1px 1px 1px 0; margin:0; background:#747D86;}
.selector .last {border-top-color:#BBC5CD; }
.selector a { color:#222; display:block; padding:5px 9px;}
.selector .selected { background:#BBC5CD; border-bottom-color:#BBC5CD;}
.tab { margin-top:48px; background:#BBC5CD; height:100%; padding:0; border-top:1px solid #333;}
.tab form { height:98%;}
.tab .validate div { float:right; margin:0 2px; background:none;}
.tab .validate input { font-size:0.9em; padding:0;}
.tab .validate a { padding:0 5px; }
.tab .validate { float:right; padding:3px;}
.tab .validate .readers { float: left;}
.readers label, .readers p { display: inline;}
.readers label { font:inherit; font-size:0.9em;}

.tab_content {height:100%; width:100%;font-size:0.9em; padding:3px 0 2px 8px;}
/* text */
#text_tab {text-align:right; padding:3px 0 0 0;}
#node_v_text { width:95%; height:100%; font:inherit; padding:5px 0 5px 5px;}

/* title */
#node_v_title, #node_v_comment, #node_v_summary { width:96%; font:inherit; font-size:0.9em; padding:2px;}
.event_at { padding:1px 2px; width:50%; text-align:center; font-size:0.86em;}
#node_v_title { font-weight:bold; font-size:1.2em;}
label { font-size:0.9em; font-weight:bold; display:block; color:#5C1515; margin:10px 0 5px; clear:both;} 

ul.link_box { float:left; display:block; margin:2px; padding:2px;}
#title_tab .link_box { border: 1px solid #655;}
.link_box li { display:inline; padding:2px;}
.link_box input { display:inline; width:2em; margin:0 2px; font-size:0.8em;}
.link_box input.box { width:1.2em;}

#help_tab pre { font-size:110%;}
#help_tab { font-size:0.9em; padding:5px;}
#help_tab h4 { margin:2em 0 0;}
#help_tab p { margin:1em 0;}
#help_tab table { background:#ECEBEA; border:1px solid #CEBB94; border-right-width:0; border-spacing:0;}
#help_tab th { background: #C8C4BF; font-weight:normal; border-right:1px solid #CEBB94; padding:1px 4px; font-size:1.1em; font-style:italic; font-family:Times, serif;}
#help_tab td { border:1px solid #CEBB94; border-width:1px 1px 0 0; padding:0px 4px;}
#help_tab tr:first-child td { border-top-width:0;}

/* DRIVE */

/* DRIVE */
#links_tab, #drive_tab { padding:5px; font-size:0.9em;}
#drive_tab select, #drive_tab input {font:inherit;}
.drive { border:1px solid #333; background:#B2C3D0; padding:0; list-style:none; margin:5px; }
.drive input, select { font-size:11px;}
.drive ul { list-style:none; padding:5px;}
.drive li p { font-weight:normal;}
.drive li select { width: 100%;}
.drive li #node_name  { width: 95%;}
.drive li.submit { text-align:right; padding-top:1em;}
.select_id span { margin-left:0.2em;}

#parent, #groups, #dates { float:left; width:110px;}
#parent #parent_errors { margin:0; font-size:0.8em; }
#groups #groups_errors { margin:0; font-size:0.8em; }
#drive .event_at { font-size:0.8em; width:95%;}

#links_tab table { border:1px solid #333; border-width:1px 0 0 1px; padding:0; width:95%;}
#links_tab td { padding: 3px; font-size:0.8em; height:18px; border:1px solid #333; border-width:0 1px 1px 0; text-align:center;}

#links_tab img {  vertical-align:middle; margin:0; }
#links_tab .inline_form div { float: left;}
#links_tab .inline_form div.errors { float: none;}
#links_tab .add a {display:block; padding-left:3px; }
#links_tab .add { text-align:left;}
#links_tab .date { width:95px; }
#links_tab .status { width:70px; }
#links_tab .box { width:18px;}
#links_tab .comment { font-style:italic; width:auto; text-align:left;}
#links_tab .actions { width:80px;}

#links .group { text-align:left; background:#888; font-weight:bold; font-size:0.7em; height:0.5em;}
#links .group span { background:#888; font-weight:normal;}
#links .role { width:80px; }
#links .path { width:200px; text-align:left;}
#links .actions { width:20px;}
#links #link_link { width:auto;}
#links .link_box { display:inline; margin:0; padding:0 8px 0 0;}
#links .link_box li { display:inline; padding:0;}
#links .link_box input { display:inline; width:2em; margin:3px;}
#links .link_box input.box { width:1.2em; margin:2px;}
#links .link_box .select_id input {margin:0 3px;}
#links #link_role option { width:50px;}
#links #link_target_id option { width:120px;}


#versions .sign { width:20px; }

#discussions .inline_form div { float: left; padding:0 8px; }
#discussions .inline_form .inside { margin-top:2px; }
#discussions .inline_form .open   { margin-top:2px; border-left: 1px dashed black; }
#discussions .inline_form .errors { float: none;}

.dinside_open    { background:#E58789;}
.dinside_closed  { background:#864D4E;}
.doutside_open   { background:#67ABE0;}
.doutside_closed { background:#466F91;}

.v50 { background:#FF9400;}
.v40 { background:#73A1A5;}
.v35 { background:#73A1A5;}
.v30 { background:#B7CC87;}
.v20 { background:#B29E83;}
.v10 { background:#8B7B65;}
.v0  { background:#994747;}


/* CSS EDIT */
#css_edit { position: fixed; bottom:0px; left:0; border:1px solid red; background:#879962; font-size:10px;}
#css_edit span { padding:3px; font-size:80%;}