/* GENERAL */
/*   on background color change, change ajax-loader.gif : http://www.ajaxload.info/ --> */
* {margin: 0; padding: 0;}
html { }
a {text-decoration: none; color:#266F92;}
a img {border: none;}
img.pv { border:1px solid #333; }
body {font: 0.9em Arial, Helvetica, Verdana, sans-serif; background:#BBC5CD; line-height: 1; color: #333;  behavior: url('stylesheets/csshover2.htc');} /* WinIE hack */
.clear { clear:both;}
.next { float:right; margin-right:10px; }
.previous { float:left;}
.btn_x {float:right; padding-right:10px;}
.errors ul { background:#DDC8C8; margin:0 0 5px; padding:4px 0; border-bottom:1px solid #5A3231;}

form li { clear:both; padding:3px 0;}
form .infos li { clear:none;}
/* search box */
#search { z-index:999; position:absolute; top:1px; right:1px; padding-right:1px; font-size:0.8em; display:table;}

/* messages and ajax-loader */
#messages { position:absolute; top:0; line-height:1.4em; width:70%; font-size:0.9em; }
#form_errors ul { position:absolute; border:2px solid #B57B7C; top:50px; left:10px; width:400px; line-height:1.4em; width:70%; font-size:0.9em; padding:3px 5px;}
#form_errors li { padding-left:1em; line-height:1em; list-style:none;}

#ProgressBarContainer { position:absolute; margin:3px;}
#ProgressBarContainer div { margin:0; }
#loader { visibility:hidden; position:absolute;} 
#loader img {float:left;}
#notice, #error {padding:2px 8px;}
#error  { background:#DDC8C8;border: 1px dotted #B57B7C;}
#notice { background:#D8E0C7;border: 1px dotted #A8BA6E;}

/* tab selector */
.selector { width:100%; height:46px; font-size:0.9em; background:#A0A6AB; border-bottom:1px solid #333;}
.selector div { float:left; height:20px; border:1px solid #333; border-width:1px 1px 1px 0; margin:25px 0 0; background:#747D86;}
.selector .last {border-top-color:#BBC5CD; }
.selector a { color:#222; display:block; padding:5px 9px;}
.selector .selected { background:#BBC5CD; border-bottom-color:#BBC5CD;}
.tab { padding:0; }
.tab form { }
.tab .validate { position:absolute; right:0; margin:0 2px; background:none; padding:3px; z-index:888;}
.tab .validate div { float:right; margin-left:4px; }
.tab .validate input { font-size:0.9em; padding:0;}
.tab .validate a { padding:0 5px; }
.tab .validate { float:right; }
div.readers { position:absolute; left:5px; top:55px;}
.readers p { display: inline; font-size:0.7em; font-style:italic; color:#888;}

.tab_content { font-size:0.9em; padding:30px 0 2px 8px; }
/* text */
#text_tab { padding:0;}
#node_v_text { width:95%; height:75%; margin:30px 5px 5px 5px; font:inherit; padding:5px;}

/* title */
.full_width { width:96%; font:inherit; font-size:0.9em; padding:2px;}
#title_tab select, #title_tab input {font:inherit; font-size:0.86em;}
.v_publish_from, .log_at, .event_at { padding:1px 2px; width:65%; text-align:center;}
#node_v_title { font-weight:bold; font-size:1.2em;}
label { font-size:0.9em; font-weight:bold; display:block; color:#5C1515; margin:10px 0 5px; clear:both;} 

ul.link_box { float:left; display:block; margin:2px; padding:2px;}
#title_tab .link_box { border: 1px solid #655;}
.link_box li { display:inline; padding:2px;}
.link_box input { display:inline; width:2em; margin:0 2px; font-size:0.8em;}
.link_box input.box { width:1.2em;}

#image_tab .toggle_div, #document_tab .toggle_div { margin-top: 1em; margin-bottom:0.5em;}
#file, #file_form { height:2em;}
#image_tab img {border:1px solid #333; margin-top:4px;}
#image_tab, #document_tab { padding-left:3em; padding-top:3em; }
#document_tab a { width:80px; display:block; float:left;}
#image_tab .edit_info {font-size:0.8em; color:#333; margin-top:0.4em;}
#original_caution { color:red; font-variant:small-caps; font-size:1.5em; position: absolute; top:70px;}

ul.infos li { padding:0.4em 0.4em; list-style:none; display:block; }
#crop_options li b { display:block; float:left; width:7em;}
#crop_options { font-size:80%; position:absolute; top:95px; right:10px; border:1px solid grey; background-color:#9CA3AA; padding:5px;}
#crop_options input { font:inherit; }
#crop img { margin-right:5px; }
/* new document */
#new_document .btn_validate { float:right; padding:1em; }
#new_document .tab_content { padding-top:0; }

/* created document */
.document { padding-left:10px; padding-top:15px;}
.document .btn_validate input {width:auto; float:right;}
.document .preview { width:80px; padding:6px; border-right:1px solid grey; text-align:center;}
.document .description { vertical-align:top; padding: 6px;}
.document h3 { font: 1.2em Georgia, Times, serif; letter-spacing: 0; text-transform: none; margin-bottom: 0; color: #333; font-style:italic; color:#450009;}
.document .description .doc_id {color:#333; font-size:80%;}
.document table { margin-bottom: 25px;}

/* imported nodes */
.import { padding-left:10px; padding-top:15px; }
.import table { margin-top:10px; border:1px solid grey; border-width:1px 0 0 1px; font-size:0.9em; }
.import td    { border:1px solid grey; border-width:0 1px 1px 0; padding:3px 5px; }
.import td img { border:1px solid grey; }
.import .import_new { background:#B7CC87;}
.import .import_updated { background:#C9B372;}
.import .import_same    { background:none;}
.import .import_error   { background:#C87574;}

/* help */
#help_tab pre { font-size:110%;}
#help_tab { font-size:0.9em; padding-left:5px;}
#help_tab h4 { margin:2em 0 0;}
#help_tab p { margin:1em 0;}
#help_tab table { background:#ECEBEA; border:1px solid #CEBB94; border-right-width:0; border-spacing:0;}
#help_tab th { background: #C8C4BF; font-weight:normal; border-right:1px solid #CEBB94; padding:1px 4px; font-size:1.1em; font-style:italic; font-family:Times, serif;}
#help_tab td { border:1px solid #CEBB94; border-width:1px 1px 0 0; padding:0px 4px;}
#help_tab tr:first-child td { border-top-width:0;}

/* DRIVE */

/* DRIVE */
#links_tab, #drive_tab { padding:5px; font-size:0.9em;}
#drive_tab select, #drive_tab input {font:inherit; font-size:0.86em;}
.drive { border:1px solid #333; background:#B2C3D0; padding:0; list-style:none; margin:5px; }
.drive input, select { font-size:11px;}
.drive ul { list-style:none; padding:5px;}
.drive li p { font-weight:normal;}
.drive li select { width: 100%;}
.drive li #node_name  { width: 95%;}
.drive li.submit { text-align:right; padding-top:1em;}
.select_id span { margin-left:0.2em;}

#parent, #groups, #dates, #position { float:left; width:110px;}
#parent #parent_errors { margin:0; font-size:0.8em; }
#groups #groups_errors { margin:0; font-size:0.8em; }
#drive .event_at { font-size:0.8em; width:95%;}
.position li { border:1px solid #777; padding:2px; margin:2px; background:#D9E3EC; }
#position { width:150px;}
#position a.reset { display:table; margin:2px auto; }
#position_info { text-align:center; padding:3px; }

#links_tab table { border:1px solid #333; border-width:1px 0 0 1px; padding:0; width:95%;}
#links_tab td { padding: 3px; font-size:0.8em; height:18px; border:1px solid #333; border-width:0 1px 1px 0; text-align:center;}
#links_tab table.errors { background:#DDC8C8; margin:0; border-bottom:1px solid #5A3231; display:block;}
#links_tab table.errors td { padding:2px 5px; background:inherit; border:none; font-size:inherit;}

#links_tab img {  vertical-align:middle; margin:0; }
#links_tab .inline_form div { float: left;}
#links_tab .inline_form div.errors { float: none;}
#links_tab .add a {display:block; padding-left:3px; }
#links_tab .add { text-align:left;}
#links_tab .date { width:95px; }
#links_tab .status { width:70px; }
#links_tab .box { width:18px;}
#links_tab .comment { font-style:italic; width:auto; text-align:left;}
#links_tab .actions { width:100px;}

#links .group { text-align:left; background:#888; font-weight:bold; font-size:0.7em; height:0.5em;}
#links .group span { background:#888; font-weight:normal;}
#links .role { margin-left:0.5em; margin-right:0.5em; }
#links .role select { width:10em; }
#links .path { width:200px; text-align:left;}
#links .actions { width:20px;}
#links #link_link { margin:0px 5px; }
#links #select_id { width:auto; }
#links #link_other_id_name { margin-right:5px;}
#links .link_box { display:inline; margin:0; padding:0 8px 0 0;}
#links .link_box li { display:inline; padding:0;}
#links .link_box input { display:inline; width:2em; margin:3px;}
#links .link_box input.box { width:1.2em; margin:2px;}
#links .link_box .select_id input {margin:0 3px;}
#links #link_role option { width:50px;}
#links #link_target_id option { width:120px;}

.inline_form ul { list-style:none; text-align:left;}
#links label, #links select {float:left; width:70px; margin-right:5px;}


#versions .sign { width:20px; }
#links_tab .diff .box { border-right-width:0; }
#links_tab .diff .text { font-style:italic; text-align:left;}

#discussions .inline_form div { float: left; padding:0 8px; }
#discussions .inline_form .inside { margin-top:2px; }
#discussions .inline_form .open   { margin-top:2px; border-left: 1px dashed black; }
#discussions .inline_form .errors { float: none;}

.dinside_open    { background:#E58789;}
.dinside_closed  { background:#864D4E;}
.doutside_open   { background:#67ABE0;}
.doutside_closed { background:#466F91;}

.v50 { background:#FF9400;}
.v40 { background:#73A1A5;}
.v35 { background:#73A1A5;}
.v30 { background:#B7CC87;}
.v20 { background:#B29E83;}
.v10 { background:#8B7B65;}
.v0  { background:#994747;}

/* not_found */
#not_found_tab { margin-top:50px; padding:10px; width:300px; background:#ADAF87; border:1px dotted #450009; border-left-width:0; }
#not_found_tab p {margin-bottom:0.8em;}
/* CSS EDIT */
#css_edit { position: fixed; bottom:0px; left:0; border:1px solid red; background:#879962; font-size:10px;}
#css_edit span { padding:3px; font-size:80%;}