#ProgressBarContainer, #ProgressMessage, #ProgressBarShell {display:block; width:15em; font-size:1em; height:auto;}
#ProgressBarContainer { height:1.5em; }
#ProgressMessage { margin:1.2em 1.2em 0.2em 1.2em; font-weight:normal; color:#333; text-align:center; }
#ProgressBarShell {border:solid 1px silver; margin:0 1.2em 1.2em 1.2em; padding:0; }
#ProgressBar {width:0; margin:0.1em; }
#ProgressBarText {display:block; background-color:transparent; color:#333; width:15em; text-align:center; padding-top:0.2em; }
#UploadIFrame {width:0; height:0; border:0; }

.Uploading  {background-color:#ff6; }
.Processing {background-color:#6ff; }
.Finished   {background-color:#6f3; }
