.progress_shell { display: table; background:grey; width:15em; padding:0; position:relative; border:2px solid grey;}
.progress_text  { position:absolute; text-align:center; width:15em;}
.progress_bar   { background:#35f;}
#UploadIFrame {width:0; height:0; border:0; }