/* GENERAL */
* {margin: 0; padding: 0;}
a {text-decoration: none; color:#266F92;}
a img {border: none;}
body {font: 0.9em Verdana, sans-serif; line-height: 1; color: #333; behavior: url('stylesheets/csshover2.htc');} /* WinIE hack */
h2, h3 {font: 1.2em Georgia, Times, serif; letter-spacing: 0; text-transform: none; margin-bottom: 0; color: #333;}
h2 { font-size:1.5em; font-style:italic; color:#450009; }
p {font-size:1em; text-align: left; line-height: 1.2; margin: 0 0 1.5em;}
li { list-style-type:none; }
a .id { display: none; font-size:0.7em; color:#ccc; }
a:hover .id { display:inline; }
button { background:none; border:none;}
input, textarea { font:inherit; padding:2px;}
.img_left  img { margin:0px 5px 5px 0; float:left;}
.img_right img { margin:0px 0 5px 5px; float:right;}
p.img_left, p.img_right { margin:0; padding:0;}
.img_center { text-align:center; margin:5px;}
.clear { clear:both; font-size:1px;}
.date_box { display:inline;}
.date_box img { display:inline; }
.date_box input { font-size:70%; }
.slider { cursor:pointer;}

/* ERROR HANDLING */
.errorExplanation { font-size:0.9em; background: #C18284; border: 1px dotted #920C0C; margin:5px 5px 5px 0; padding:4px; line-height:1.2em; }
.errorExplanation ul { margin-left:15px; }
.fieldWithErrors { padding: 2px; background-color: #C18284; display: table;}
.errors ul { background:#DDC8C8; margin:0 0 5px; padding:4px 0; border-bottom:1px solid #5A3231;}
.errors li { margin-left:0.4em; background:inherit; line-height:1.2em;}

.flash { padding: 8px; position:absolute; top:55px; left:260px; border: 1px dotted #7B8B57; width: 400px; }
#notice { background:#D8E0C7; }
#error  { background:#DDC8C8; }

/* LOGO */
#logo { position:absolute; top:0; left:20px; background: white; width:220px; height:100px; text-align:center; }
#logo img { border:1px solid #450009; }
#logo_msg { position:absolute; top:80px; left:0px; width:220px; font-weight:normal; text-align:center; }

/* NAVBAR */
#navbar {  width:100%; height:25px; background:#450009; 
  color:white; font-size:0.85em; padding:0;}
#navbar a { color:white; }
#navbar ul, #navbar div { height:100%; padding:0.3em 0.8em; float:left; margin-top:2px;}
#lang { margin-left:250px; }
#lang b { font-weight:normal; color:white;}
#lang, #lang a { color:#A27C6E;}
#navbar * { display:inline; }
#navbar #visitor, #navbar #logout { float: right; }

/* NAV. MENUS */
#menu { z-index:9999; background-color: #F3F2E8; float:left; position:absolute; top:25px; left:260px;}
#menu ul { }
#menu a { color: black; padding:1px 8px 3px; font: 1.2em Georgia, Times, serif; display: block; }
#menu li { border:solid grey; border-width: 0 1px 1px 0px; list-style:none; float:left; background-color: #F3F2E8; position: relative; }
#menu li:first-child { border-left-width: 1px; }
#menu li:hover { background-color:#D3D0B0;}
#menu li ul { display: none; position: absolute; left:-1px; width: 10em; border: solid grey; border-width: 1px 1px 0; background-color: #F3F2E8; }
#menu li:hover ul { display: block; }
#menu ul li.sub, #menu .sub li { width: 100%; border: solid grey; border-width:0 0 1px; }
#menu ul li.sub ul { display: none; position: absolute; top:-1px; left: 10em; }
#menu ul li.sub ul li ul { display: none; }
#menu ul li.sub ul li ul li ul { display: none; }
#menu ul li.sub:hover ul { display: block; }
#menu ul li.sub:hover ul li:hover ul { display: block; }
#menu ul li.sub:hover ul li:hover ul li:hover ul { display: block; }
#menu ul li.sub:hover ul li:hover ul li:hover ul li:hover ul { display: block; }
#menu ul li.sub:hover ul li:hover ul li:hover ul li:hover ul li:hover ul { display: block; }

/* ITEM ACTIONS */
.node_actions { display:inline;}
.node_actions li { display:inline; margin:0 5px; border:0;}
.node_actions li:first-child { margin-left:0;}
.s50 .node_actions { visibility:hidden; }
.s50:hover .node_actions { visibility:visible; }
.node_actions li:hover a { border-bottom:5px solid orange; }

.node_actions:hover { visibility:visible;  }

/* INLINE FORMS */
.inline_form { margin:2px; padding:3px; background:#9FA6AC; border:1px dotted grey;}
.inline_form select { width:5em; font-size:80%;}
/*   on background color change, change ajax-loader.gif : http://www.ajaxload.info/ --> */

/* BUTTONS */
.hidden { visibility:hidden; }
.button a { color:#450009; font-size:0.7em; display:block; }

.btn_add { text-align:left; }
.btn_add a { visibility:hidden; display:block; }
.btn_add:hover a { visibility:visible; }
#add_document.btn_add, #add_page.btn_add { margin-top:0.2em;}
#pages .inline_form { width:130px;}
#pages .inline_form input { font-size:0.7em;}
.btn_x { float:right; margin:0; padding:0;}
.btn_x img { border:0; }
.btn_validate { text-align:right; margin:0; padding:0;}

/* HEADER and content */
/* b = block */
.b40, .b35 { background:#73A1A5;}
.b30 { background:#B7CC87;}

.document_title .content { vertical-align:middle; text-align:center; width:120px; height:120px; }
.document_title .content img { border: 1px solid #888; background:#aaa; }
.document_title .content img.doc { border:0;}
.document_title .subtitle { vertical-align:top; padding:6px; }

.contact_title { width: 100%; height:9em; }
.contact_title .title { vertical-align:top; padding-left:10px; float:left; }
.contact_title .content { position:absolute; top:40px; right: 50px; width:300px;  }
.contact_title .content ul { font-size:0.9em; text-align:left; padding:5px; background:#CBD0D1; border:1px dashed #949CA2;}
.contact_title .content .label { color:#3F746F; width:90px; float:left; }
.contact_title .content li { clear:both; line-height:1.5em;}

/* END CONTENT */
#trad .on a { text-decoration:underline; }
#trad .off  { color:#bbb; }
#links a { font-style: italic; font-size: 0.9em; }
#links img  { vertical-align:middle; }
#drive_links .add_link { border-top:1px solid;}
#drive_links .btn_add a { visibility:visible;}

/* s50, s40, s30, s20, s10, s0 = pub, prop, red, rep, rem, del */
.info, .note .info { font-style: italic; font-size: 0.9em; color: #666;}
.info b, .note .info b { font-weight: normal; color: black;}
.li_s50 {}
.li_s40 a { border-bottom: 2px solid #73A1A5; }
.li_s35 a { border-bottom: 2px dotted #73A1A5; }
.li_s30 a { border-bottom: 2px solid #B7CC87; }
.wrong_lang { color: grey; font-weight:normal; font-size:70%; text-transform:none; font-style:normal;}
.s40  { border-bottom: 10px solid #73A1A5; padding: 4px; }
.s30  { border-bottom: 10px solid #B7CC87; padding: 4px; }
.s10, .s20 {  border-color:#685958; border-bottom: 1px solid grey; padding: 4px; }
.s30 form, .s35 form, .s40 form, .s10 form, .s20 form { margin-left:20px; display: inline; }
/*.s30 span, .s35 span, .s40 span, .s10 span, .s20 span { float: right; font-size:0.8em; padding-top:0.5em; } 
*/
/* NOTES */
#left { position:absolute; top:125px; left:20px; width:220px; }
#add_note, #add_note_form { margin-left:1em }
#add_note { padding:10px 3px;}
/* RIGHT: Documents, Pages */
#right span.ext a {font-family:Monaco, monospace;color:grey; width:200px;}
.list { list-style:none; margin-left:0.8em; margin-top:0.5em; margin-bottom:0; padding: 0 0.5em;}
.list li { line-height:1.5em; font-size:0.9em;}
.list img.tiny, .list img.doc { border:1px solid #2F2F2F;}
input, textarea { border:1px solid grey; margin:0.2em}

/* MAIN CONTENT */
#main {margin-top:5em;  margin-left:260px; width:890px; }
#main .header h1 {  font-size:2.5em; margin-bottom:0.17em;}
.header h1, .text h1, .text h2, .text h3 { font-family: Georgia, Times, serif ; font-style:italic; color:#450009;}

#content { float:left; width:630px; padding-top:0; padding-right: 22px; margin-top:1em;}
#left .content { padding-top:10px; font-size:80%;}
#left .header h1 { font-size:1.3em; margin-top:1.2em;}
#left .header h1 a { color:inherit;}
#left .subtitle { margin-bottom:0.17em; margin-top:0.17em; }
#left .subtitle .info { font-style:normal; font-size:70%; }
#left .subtitle { margin-bottom:0;}
.summary p { font-style:italic; }
/* ???
#text { clear:both;}
.text { line-height:1; margin-bottom:2em;}
*/
.text h1 { margin-top:2.3em; margin-bottom:0.8em; font-size:2em;}
.text h2 { margin-top:2em; margin-bottom:0.4em; font-size:1.5em;}
.text h3 { margin-top:1.8em; margin-bottom:0.4em; font-size:1.3em;}
.text h4 { font-size:0.9em; }
.text p { line-height:1.5; margin-bottom:1.8em; font-style:normal; font-size:1em; }
.text ul {margin:1em 0 0 3em;}
.text li {margin:0.2em 0; list-style:disc;}
.text img { border: 1px solid #666; }
.text img.doc { border:0;}
/* USE FOR TABLE LISTING (contact)
#yhash { float:left; margin-right:10px; }
#yhash p { margin:0; padding:0;}
#yhash table { border-width:1px 1px 0; border-style:solid; border-color:grey; background:#F5F4CE; margin-right:auto;}
#yhash .key   { font-weight:bold; font-size:80%;}
#yhash .key, #yhash .value { border-style:solid; border-color:grey; padding:3px 5px;}
#yhash .key { border-width:0 0 1px 0;}
#yhash .value { border-width:0 0 1px 1px;}
*/
.gallery { margin:30px auto; border:1px solid #bbb;  background:#eee; }
.gallery td { padding:10px; }
.gallery img.pv { margin:5px; border:1px solid #333; width:80px; height:80px; background:#aaa;}
.gallery_view { width:613px; text-align:center; }
.gallery_view p { text-align:center; margin:0; }

/* FORM CSS */
.text .fada li { list-style: disc;}
.text .fada h4 { margin: 0.9em 0 0.2em;}
.text .fada ul { margin: 0.2em 0 0 3em;}
table.fada { border-spacing:0; font-size:0.8em; margin: 15px 4px; font-family: Monaco, Courier, monospace;}
table.fada td { padding:2px 10px; border:1px solid #6B5636; border-width:0 1px 1px 0; text-align: right;}
table.fada tr.head  td { background:#6B5636; color:white; border-width:0; text-align: center; border-bottom: 1px solid #3C3226; }
table.fada tr.title td { font-family: Georgia, Times, serif ; font-style: italic; font-weight: bold; color:#56452A; border-width: 0; font-size: 1.2em; text-align: left;}
table.fada tr.span  td { background:#6B5636; color:white; text-align: center;}
table.fada tr.group td { background:#B1B899;  text-align: center;}
table.fada tr.total td { background:#B1B899;  text-align: center;}
table.fada td:first-child {border-left-width:1px;}
#content p.action { margin:1.6em 0;}

#content table.docs { margin:2px; border-bottom:1px solid grey;}
#content .docinfo p { margin-top:5px; display:inline;  font-size:0.7em; color:#404040;}
#content .docinfo a { color:inherit;}
#content .docs .docinfo {  padding:2px; vertical-align:top; }
#content .docs .docinfo h3 { margin:0; padding:0; }
#content .docs .docpv { padding: 0;}
#content .docs .docpv p { text-align:center; margin:3px 0 0; padding:0; font-size:70%; }
#content .docs .docpv img { margin-bottom:-5px; }
#content .docs .result_break { border-top:1px solid grey; height:5px; }

#content h2:first-child {margin-top:10px;}

#right { float:left; width:220px; padding-left:6px; border-left:1px solid #ccc;}

/* LOGIN PAGE, PAGE NOT FOUND */
#login, #not_found { position:absolute; top:240px; left:0; width:550px; background:#9FA6AC; border:1px dotted #450009; }
#login div, #not_found div { float:right; font-size:0.9em;}
#login input { padding:1px;}
#login table { padding:0.5em; font-size:0.9em; text-align:right;}

#not_found { background:#ADAF87}
#not_found div { padding:1em; }
#not_found p {margin-bottom:0.3em;}

/* TRANSLATION */
.trans { display:inline; }
.trans a:hover { color: orange;}
.trans form    { display:inline; }
.trans form input { padding:0; margin:0;}
#add_translation { background: #91AAC8;}

/* LARGE CALENDAR */
.largecal_title { text-align: center; background:white; margin-bottom:0.2em;}
.largecal_title a { color:#655; font-size: 1em; font-family: Georgia, Times, serif;}
.largecal_title span { padding:0 6px; }
table.largecal { border:1px solid #655; font-size:0.8em; margin:auto; width:80%; }
.largecal .head td  { border-left:1px solid #836C6C; background: #655; color: #fff; font-weight:normal; width:14%; height:0.8em; text-align:center; padding:0.4em 3px; }
.largecal .head td:first-child {border-left-width:0;}
.largecal .body td  { background: #ffd; width:14%; height:3.4em; padding:3px; vertical-align:top; font-style:italic; text-align:left; color:#999; 
  border:1px solid #DDDBC1; border-width:1px 0 0 1px; font-size:0.8em;}
.largecal .body td:first-child {border-left-width:0;}

.largecal .body td.other { background:#DDDBC1;}
.largecal .body #large_today { font-weight:bold; color:black; background:#DCF6FF; margin:0;}
.largecal .body td.sun, .largecal .body td.sat { background:#E6FFDC;}
.largecal .body td.sunother, .largecal .body td.satother { background:#C8DEC1;}
.largecal .body td.suntoday, .largecal .body td.sattoday  { font-weight:bold; color:black; background:#C7FFC3;}

.largecal .body div { margin:2px; margin-left:1.2em; font-style:normal; font-weight:normal; font-size:1.1em; }
.largecal .body div a { padding:1px;}
.largecal .body div a:hover { background:#CECEB4; }
.largecal .body p { float:left; margin:0;}
.largecal .preview img { background:none;}
.note_list { margin:0; }
.note_title { padding:4px; font:1em Verdana, Arial, sans-serif; letter-spacing: 0.1em; color:#4F6741;}
.note { padding:10px 3px 10px; font-size:0.78em; border-left:4px solid white; border-top:1px solid #ddd;}
.note h3 p { font:0.8em Verdana, Arial, sans-serif; text-transform: uppercase; letter-spacing: 0.03em; float:left; width:30em; text-align:left; color:#450009; font-weight:bold; margin-bottom:0.2em; padding:0; }
.note h3 .wrong_lang { font-size:90%;}
.note h3 a { color:inherit;}
.note .log_at { float:left; width:60px; color:#999; font-weight:bold;}
.note .sign   { float:left; width:8em; font-size:0.8em; color:#999; font-weight:normal; }
.note .node_actions { margin:0; padding:0; width:60px; }
.note .node_actions a { border:0;}
.note .li_s50 .node_actions { visibility:hidden;}
.note .li_s50:hover .node_actions { visibility:visible;}
.note .text   { clear:both; margin-left:60px; margin-bottom:0.3em; margin-top:10px; font-size:1.2em; }
.note .text p { margin-top:1.5em; margin-bottom:0;}
.note .text p:first-child {margin-top:0;}
#note_selected { border-left-color:orange; }
/* TINY CALENDAR */
#tinycal { height: 9em; margin-bottom:0.8em; }
.tinycal { font-size:0.7em; color:black; font-family: Verdana, sans-serif; margin:auto; }
.tinycal table { border: 1px solid #CAD4DA; background:#F5F8F9; }
.tinycal td { text-align:center; color:#333; }
.tinycal a { color:inherit; }
.tinycal b.has_note { font-weight:normal; border-bottom:2px solid orange;}
.tinycal .head td { font-weight:bold; padding: 2px; font-size:0.9em; color:#655; }
.tinycal .head td.button a { border:0; text-decoration:none; color:#568BB9;}
.tinycal .body p { line-height:1.5; margin:0; padding:2px; text-align:center; cursor:pointer; }
.tinycal .body #tiny_today p { background:#CFD6DA; }
.tinycal .body td.other, .tinycal .body td.other a { color:#ccc; }
.tinycal .body td.sat, .tinycal .body td.sat a { color:#35950B; }
.tinycal .body td.satother, .tinycal .body td.satother a { color:#C8DEC1; }
.tinycal .body td.sun, .tinycal .body td.sun a { color:#35950B; }
.tinycal .body td.sunother, .tinycal .body td.sunother a { color:#C8DEC1; }


/* site_tree */
#site_tree { position:relative; font-size:0.9em; font-family:Arial; padding-left:15em;}
#site_tree ul { margin-left:1em;}
#site_tree li { line-height: 19px;}
#site_tree a  { color:inherit;}
#site_tree .readers { position:absolute; left:20px; }
#site_tree .readers .custom { position:absolute; left:-18px; }
#site_tree .class { position:absolute; left:10em; }
#site_tree .spage    { color: #263063;}
#site_tree .sproject { color: #5D2422; font-weight:bold; }
#site_tree .scontact { color: #366333;}
#site_tree .stag     { color: #4357A9;}
#site_tree .sdocument{ color: #753653;}
#site_tree .simage   { color: #97298B;}
#site_tree .main { border-left:2px solid grey; margin-left:1px; padding-left:1.2em; }


/* CSS EDIT */
#css_edit { position: fixed; bottom:0px; left:0; border:1px solid red; background:#879962; font-size:10px;}
#css_edit span { padding:3px; font-size:80%;}
