/* GENERAL */
* {margin: 0; padding: 0;}
a img {border: none;}

li { list-style-type:none; }
a .id { display: none; font-size:0.7em; color:#ccc; }
a:hover .id { display:inline; }
button { background:none; border:none;}
input, textarea { font:inherit; padding:2px;}
.wrapper { margin:0; padding:0;}

.date_box { display:inline;}
.date_box img { display:inline; }
.date_box input { font-size:70%; }
.slider { cursor:pointer;}

.note .zazen p.more, .zazen p.more { font-style:italic; color:grey; padding-top:0; margin-top:0;}

/* ERROR HANDLING */
.errorExplanation { font-size:0.9em; background: #C18284; border: 1px dotted #920C0C; margin:5px 5px 5px 0; padding:4px; line-height:1.2em; }
.errorExplanation ul { margin-left:15px; }
.fieldWithErrors { padding: 2px; background-color: #C18284; display: table;}
ul.errors { background:#DDC8C8; margin:0 0 5px; padding:4px 0; border-bottom:1px solid #5A3231;}
ul.errors li { margin-left:0.4em; background:inherit; line-height:1.2em;}

.flash { padding: 8px; position:absolute; top:55px; left:260px; border: 1px dotted #7B8B57; width: 400px; }
#notice { background:#D8E0C7; }
#error  { background:#DDC8C8; }

/* INLINE FORMS */
.inline_form { margin:2px; padding:3px; background:#9FA6AC; border:1px dotted grey;}
.inline_form select { width:8em; font-size:80%;}

/* BUTTONS */
.hidden { visibility:hidden; }
.button a { color:#450009; font-size:0.7em; display:block; }

#add_document.btn_add, #add_page.btn_add { margin-top:0.2em;}
#pages .inline_form { width:130px;}
#pages .inline_form input { font-size:90%;}
.btn_x { float:right; margin:0; padding:0;}
.btn_x img { border:0; }
.btn_validate { text-align:right; margin:0; padding:0;}

/* HEADER and content */
/* b = block */
.b40, .b35 { background:#73A1A5;}
.b30 { background:#B7CC87;}

.document_title .content { vertical-align:middle; text-align:center; width:120px; height:120px; }
.document_title .content img { border: 1px solid #888; background:#aaa; }
.document_title .content img.doc { border:0;}
.document_title .subtitle { vertical-align:top; padding:6px; }

.contact_title { width: 100%; height:9em; }
.contact_title .title { vertical-align:top; padding-left:10px; float:left; }
.contact_title .content { position:absolute; top:40px; right: 50px; width:300px;  }
.contact_title .content ul { font-size:0.9em; text-align:left; padding:5px; background:#CBD0D1; border:1px dashed #949CA2;}
.contact_title .content .label { color:#3F746F; width:90px; float:left; }
.contact_title .content li { clear:both; line-height:1.5em;}

/* END CONTENT */
#trad .on a { text-decoration:underline; }
#trad .off  { color:#bbb; }
#links a { font-style: italic; font-size: 0.9em; }
#links img  { vertical-align:middle; }
#drive_links .add_link { border-top:1px solid;}
#drive_links .btn_add a { visibility:visible;}

/* s50, s40, s30, s20, s10, s0 = pub, prop, red, rep, rem, del */
.subtitle, .note .subtitle { font-style: italic; font-size: 0.9em; color: #666; margin-top:1em;}
.subtitle b, .note .subtitle b { font-weight: normal; color: black;}
.li_s50 {}
.li_s40 a { border-bottom: 2px solid #73A1A5; }
.li_s35 a { border-bottom: 2px dotted #73A1A5; }
.li_s30 a { border-bottom: 2px solid #B7CC87; }
.wrong_lang { color: grey; font-weight:normal; font-size:0.7em; text-transform:none; font-style:normal;}

.s30 form, .s35 form, .s40 form, .s10 form, .s20 form { margin-left:20px; display: inline; }
/*.s30 span, .s35 span, .s40 span, .s10 span, .s20 span { float: right; font-size:0.8em; padding-top:0.5em; } 
*/
/* NOTES */
#left ul { margin:0 0 1em 1em;}
#left li { padding:2px;}
#add_note, #add_note_form { margin-left:1em }
#add_note { padding:10px 3px;}
/* RIGHT: Documents, Pages */
#right span.ext a {font-family:Monaco, monospace; color:grey; width:200px;}
.list { list-style:none; margin-left:0.8em; margin-top:0.5em; margin-bottom:0; padding: 0 0.5em;}
.list li { line-height:1.5em; font-size:0.95em;}
.list img.tiny, .list img.doc { border:1px solid #2F2F2F;}
input, textarea { border:1px solid grey; margin:0.2em}

/* MAIN CONTENT */
h1.title {  font-size:2.5em; margin-bottom:0.17em;}
h1, h2, h3 { font-family: Georgia, Times, serif ; font-style:italic; color:#450009;}
.wrong_lang {font-size:0.5em;}
.note .wrong_lang {font-size:1em;}
.title .wrong_lang {font-size:0.6em;}
#content { float:left; width:630px; padding:0 22px 200px 0; margin-top:1em;}
#left .content { padding-top:10px;}
#left .header h1 { font-size:1.3em; margin-top:1.2em; margin-bottom:0.5em;}
#left .header h1 a { color:inherit;}
#left .subtitle { margin-bottom:0.17em; margin-top:0.17em; }
#left .subtitle { font-style:normal; font-size:0.7em; }
#left .subtitle { margin-bottom:0;}
.summary .zazen p { font-style:italic; }

/* USE FOR TABLE LISTING (contact)
#yhash { float:left; margin-right:10px; }
#yhash p { margin:0; padding:0;}
#yhash table { border-width:1px 1px 0; border-style:solid; border-color:grey; background:#F5F4CE; margin-right:auto;}
#yhash .key   { font-weight:bold; font-size:80%;}
#yhash .key, #yhash .value { border-style:solid; border-color:grey; padding:3px 5px;}
#yhash .key { border-width:0 0 1px 0;}
#yhash .value { border-width:0 0 1px 1px;}
 */

/* FORM CSS */
.zazen .fada li { list-style: disc;}
.zazen .fada h4 { margin: 0.9em 0 0.2em;}
.zazen .fada ul { margin: 0.2em 0 0 3em;}
table.fada { border-spacing:0; font-size:0.8em; margin: 15px 4px; font-family: Monaco, Courier, monospace;}
table.fada td { padding:2px 10px; border:1px solid #6B5636; border-width:0 1px 1px 0; text-align: right;}
table.fada tr.head  td { background:#6B5636; color:white; border-width:0; text-align: center; border-bottom: 1px solid #3C3226; }
table.fada tr.title td { font-family: Georgia, Times, serif ; font-style: italic; font-weight: bold; color:#56452A; border-width: 0; font-size: 1.2em; text-align: left;}
table.fada tr.span  td { background:#6B5636; color:white; text-align: center;}
table.fada tr.group td { background:#B1B899;  text-align: center;}
table.fada tr.total td { background:#B1B899;  text-align: center;}
table.fada td:first-child {border-left-width:1px;}
#content p.actions { margin:1.6em 0;}

.zazen table.docs { border:0; border-bottom:1px dashed #CEBB94; background:#EAE9E8; font-size:0.9em; margin-left:0;}
.zazen .docs td { border:0; }
.zazen .docs .result_break { border-top:1px dashed #CEBB94; height:5px; }
.img_center table.docs { margin:auto; text-align:left;}
.docinfo p { margin-top:5px; display:inline; color:#404040;}
.docinfo a { color:inherit;}
.docs .docinfo {  padding:2px 5px; vertical-align:top; }
.docs .docinfo h4 { margin:0; padding:0; color:#450009; }
.docs .docpv { padding: 0 0 0 5px;}
.docs .docpv p { text-align:center; margin:3px 0 0; padding:0; font-size:0.95em; }
.docs .docpv img { margin-bottom:-5px; }
.docs .docpv img.doc { border:0;}

.zazen h1:first-child, .zazen h2:first-child {margin-top:10px;}

#right { float:left; width:220px; padding-left:6px; border-left:1px solid #ccc;}

/* LOGIN PAGE, PAGE NOT FOUND */
#please_login, #not_found { position:absolute; top:240px; left:0; width:550px; background:#9FA6AC; border:1px dotted #450009; border-left-width:0;}
#please_login div, #not_found div { float:right; font-size:0.9em;}
#please_login input { padding:1px;}
#please_login table { padding:0.5em; font-size:0.9em; text-align:right;}

#not_found { background:#ADAF87}
#not_found div { padding:1em; }
#not_found p {margin-bottom:0.5em;}

/* TRANSLATION */
.trans { display:inline; }
.trans a:hover { color: orange;}
.trans form    { display:inline; }
.trans form input { padding:0; margin:0;}
#add_translation { background: #91AAC8;}

/* LARGE CALENDAR */
.largecal_title { text-align: center; background:white; margin-bottom:0.2em;}
.largecal_title a { color:#655; font-size: 1em; font-family: Georgia, Times, serif;}
.largecal_title span { padding:0 6px; }
table.largecal { border:1px solid #655; font-size:0.9em; margin:auto; width:80%; }
.largecal .head td  { border-left:1px solid #836C6C; background: #655; color: #fff; font-weight:normal; width:14%; height:0.8em; text-align:center; padding:0.4em 3px; }
.largecal .head td:first-child {border-left-width:0;}
.largecal .body td  { background: #ffd; width:14%; height:3.4em; padding:3px; vertical-align:top; font-style:italic; text-align:left; color:#999; 
border:1px solid #DDDBC1; border-width:1px 0 0 1px; font-size:0.8em;}
.largecal .body td:first-child {border-left-width:0;}

.largecal .body td.other { background:#DDDBC1;}
.largecal .body #large_today { font-weight:bold; color:black; background:#DCF6FF; margin:0;}
.largecal .body td.sun, .largecal .body td.sat { background:#E6FFDC;}
.largecal .body td.sunother, .largecal .body td.satother { background:#C8DEC1;}
.largecal .body td.suntoday, .largecal .body td.sattoday  { font-weight:bold; color:black; background:#C7FFC3;}

.largecal .body div { margin:2px; margin-left:1.2em; font-style:normal; font-weight:normal; font-size:1.1em; }
.largecal .body div a { padding:1px;}
.largecal .body div a:hover { text-decoration:underline; }
.largecal .body p { float:left; margin:0;}
.largecal .preview img { background:none;}

/* 
.note .title { padding:4px; font:1em Verdana, Arial, sans-serif; letter-spacing: 0.1em; color:#4F6741;}
.note .header { font-size:1em;}
.note .header p {  float:left; width:30em; text-align:left; color:#450009; font-weight:bold; margin-bottom:0.2em; padding:0; }
.note .header .wrong_lang { font-size:0.9em;}
.note .header a { color:inherit;}
.note .log_at { float:left; width:60px; color:#999; font-weight:bold; font-size:0.95em;}
.note .sign   { float:left; width:8em; font-size:0.95em; color:#999; font-weight:normal; }
.note .actions { margin:0; padding:0; width:60px; }
.note .actions a { border:0;}
*/

.note .li_s50 .actions { visibility:hidden;}
.note .li_s50:hover .actions { visibility:visible;}
.note .zazen   { clear:both; margin-left:60px; margin-bottom:0.3em; margin-top:10px; }
.note .zazen p { margin-top:1.5em; margin-bottom:0;}
.note .zazen p:first-child {margin-top:0;}
#note_selected { border-left-color:orange; }
/* TINY CALENDAR */
#tinycal { height: 9em; margin-bottom:0.8em; }
.tinycal { font-size:0.7em; color:black; font-family: Verdana, sans-serif; margin:auto; }
.tinycal table { border: 1px solid #CAD4DA; background:#F5F8F9; }
.tinycal td { text-align:center; color:#333; }
.tinycal a { color:inherit; }
.tinycal b.has_note { font-weight:normal; border-bottom:2px solid orange;}
.tinycal .head td { font-weight:bold; padding: 2px; font-size:0.9em; color:#655; }
.tinycal .head td.button a { border:0; text-decoration:none; color:#568BB9;}
.tinycal .body p { line-height:1.5; margin:0; padding:2px; text-align:center; cursor:pointer; }
.tinycal .body #tiny_today p { background:#CFD6DA; }
.tinycal .body td.other, .tinycal .body td.other a { color:#ccc; }
.tinycal .body td.sat, .tinycal .body td.sat a { color:#35950B; }
.tinycal .body td.satother, .tinycal .body td.satother a { color:#C8DEC1; }
.tinycal .body td.sun, .tinycal .body td.sun a { color:#35950B; }
.tinycal .body td.sunother, .tinycal .body td.sunother a { color:#C8DEC1; }

/* diff */
del.diffmod, del.diffdel { color: #a22; text-decoration:strikethrough; background-color: #efefef; padding:3px; }
.zazen del.diffmod img, .zazen del.diffdel img { border:3px solid red; }

.zazen ins.diffmod img, .zazen ins.diffins img { border:3px solid #2a2; }
ins.diffmod, ins.diffins { background-color: #bfb; text-decoration: none; color: #000;}

/* site_tree */
#site_tree { position:relative; font-size:0.9em; font-family:Arial; padding-left:15em;}
#site_tree ul { margin-left:1em;}
#site_tree li { line-height: 19px;}
#site_tree a  { color:inherit;}
#site_tree .readers { position:absolute; left:20px; }
#site_tree .readers .custom { position:absolute; left:-18px; }
#site_tree .class { position:absolute; left:10em; }
#site_tree .spage    { color: #263063;}
#site_tree .sproject { color: #5D2422; font-weight:bold; }
#site_tree .scontact { color: #366333;}
#site_tree .stag     { color: #4357A9;}
#site_tree .sdocument{ color: #753653;}
#site_tree .simage   { color: #97298B;}
#site_tree .main { border-left:2px solid grey; margin-left:1px; padding-left:1.2em; }


/* CSS EDIT */
#css_edit { position: fixed; bottom:0px; left:0; border:1px solid red; background:#879962; font-size:10px;}
#css_edit span { padding:3px; font-size:80%;}
