/* zena css */
/* version status */
.s10,         .s20,      .s70,      .s65,      .s60   { border-bottom: 5px solid grey;}
.li_s10 a, .li_s20 a, .li_s70 a, .li_s65 a, .li_s60 a { border-bottom: 2px  solid grey;}

.s10, .li_s10 a, .s20, .li_s20 a { border-bottom-color:#685958;}
.s70, .li_s70 a                  { border-bottom-color:#B7CC87;}
.s65, .li_s65 a                  { border-bottom-color:#73A1A5; border-bottom-style:dotted; }
.s60, .li_s60 a                  { border-bottom-color:#73A1A5;}
#version_warning { position:fixed; top:0; padding:4px; background:white; color:#222; width:120px; font-size:10px;}
#version_warning a {float:right;}
/* actions */
.actions   { margin-left:5px; }
.actions img {border:none; vertical-align:middle;}
.s50       .actions, .li_s50       .actions { visibility:hidden;  }
.s50:hover .actions, .li_s50:hover .actions { visibility:visible; }
.actions a:hover { background:#F9E1AD; }

/* forms & form actions */
.btn_add a { visibility:hidden; display:block; }
.btn_add:hover a { visibility:visible; }
.zazen_edit a { visibility:hidden; display:block; }
.zazen_edit:hover a { visibility:visible; }
.ajax_edit textarea { height:5em; width:15em;}
.ajax_edit { display:inline; }
.btn_x img { border:none;}
.btn_x, .date_box { float:left; }

.hidden { display:none; }
.input_radio, .input_checkbox { display:table; }
.input_radio span, .input_checkbox span { display:table; float:left; margin:3px;}

/* errors */
.parser_error {border:1px solid red; background:#fee; color:#333;}
.parser_error .method { background:#faa; padding:0 2px;}
table.errors { background:#DDC8C8; margin:0 0 5px; border-bottom:1px solid #5A3231; display:block;}
table.errors td { padding:2px 5px; background:inherit; border:none;}

/* debug */
.debug { border:1px solid green; background:#cfc; padding:2px; display:table;}

/* Ajax css */
.drop_hover { background:#ace; border:2px dashed #99f;}
.drop { min-height:1em;}
.drag_handle { padding-left:1em; margin:2px; background: url('/images/shading.png');}

/* zazen css */

/* images */
.img_left {float:left; display:table; margin-right:5px;}
.img_right {float:right;display:table; margin-left:5px;}
.img_center { text-align:center; margin:12px;}
.zazen .math img { border:none; vertical-align:middle; margin-bottom:0.35em;}
.zazen pre.math  { border:1px solid #333;}
.zazen .math_preview { background:#B6C6D2; padding:3px; white-space:pre;}

/* paragraphs */
.clear { clear:both;}

/* dev */
#dev { background:#CABFA6; font-size:10px; position:fixed; bottom:5px; right:5px;
padding:5px; border:1px solid #714D3D; text-align:left; color:#444; z-index:9999;}
#dev a { color:inherit; }
#dev ul, #dev li { margin:0; padding:0; list-style:none; background:none; list-style-image:none;}
#dev a.group { font-weight:bold; color:#222; display:block;}
#dev td.actions {width:40px;}
#dev li img { border:0; }
#dev li li { clear:both;}
#dev li table { display:none;}
#dev:hover table { display:block;}

/* table js */
.zazen .table_add a { visibility:hidden; padding:0 5px; text-decoration:none;}
.zazen .table_add img { border:0;}
.zazen .table_add:hover a { visibility:visible;}

/* diff */
del.differ, del.differ * { background:#fcc; padding:1px 2px;}
ins.differ, ins.differ * { background:#cfc; text-decoration:none; padding:1px 2px;}

/* popup gallery */
#pg_mask { position:fixed; top:0; left:0; width:100%; height:100%; background:black; opacity:0.8; z-index:9999;}
#pg_info { z-index:10000; background:white; border:1px solid grey;}
#pg_info .title {text-align:center; font-weight:bold;}
#pg_info .summary {clear:both; padding:3px 10px 10px;}
#pg_info a { width:100px; height:40px;}
#pg_next {position:absolute; right:0; background:url('/images/popup_next.png') no-repeat right top;}
#pg_prev {position:absolute; left:0; background:url('/images/popup_prev.png') no-repeat left top;}