/* ========================= Zena css ========================= */
/* version status */
.s10,         .s20,      .s30,      .s35,      .s40   { border-bottom: 5px solid grey;}
.li_s10 a, .li_s20 a, .li_s30 a, .li_s35 a, .li_s40 a { border-bottom: 2px  solid grey;}

.s10, .li_s10 a, .s20, .li_s20 a { border-bottom-color:#685958;}
.s30, .li_s30 a                  { border-bottom-color:#B7CC87;}
.s35, .li_s35 a                  { border-bottom-color:#73A1A5; border-bottom-style:dotted; }
.s40, .li_s40 a                  { border-bottom-color:#73A1A5;}

/* actions */
.actions   { margin-left:5px; }
.actions img {border:none; vertical-align:middle;}
.s50       .actions, .li_s50       .actions { visibility:hidden;  }
.s50:hover .actions, .li_s50:hover .actions { visibility:visible; }
.actions a:hover { background:#F9E1AD; }

/* forms & form actions */
.btn_add a { visibility:hidden; display:block; }
.btn_add:hover a { visibility:visible; }
.zazen_edit a { visibility:hidden; display:block; }
.zazen_edit:hover a { visibility:visible; }
textarea.ajax_edit { height:5em; width:15em;}
.btn_x img { border:none;}
.btn_x, .date_box { float:left; }

.hidden { display:none; }
.input_radio, .input_checkbox { display:table; }
.input_radio span, .input_checkbox span { display:table; float:left; margin:3px;}

/* errors */
.parser_error { padding:0px; border-bottom:2px solid #f88; }
table.errors { background:#DDC8C8; margin:0 0 5px; border-bottom:1px solid #5A3231; display:block;}
table.errors td { padding:2px 5px; background:inherit; border:none;}

/* ========================= Zazen css ======================== */

/* images */
.img_left {float:left; display:table; margin-right:5px;}
.img_right {float:right;display:table; margin-left:5px;}
.img_center { text-align:center; margin:12px;}
.zazen .math img { border:none; vertical-align:middle; margin-bottom:0.35em;}
.zazen pre.math  { border:1px solid #333;}
.zazen .math_preview { background:#B6C6D2; padding:3px; white-space:pre;}

/* paragraphs */
.clear { clear:both;}

/* dev */
#dev { background:#CABFA6; font-size:10px; position:fixed; bottom:5px; right:5px; 
padding:5px; border:1px solid #714D3D; text-align:left; color:#444;}
#dev a { color:inherit; }
#dev ul, #dev li { margin:0; padding:0; list-style:none; background:none; list-style-image:none;}
#dev a.group { font-weight:bold; color:#222; display:block;}
#dev td.actions {width:40px;}
#dev li img { border:0; }
#dev li li { clear:both;}