<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title zafu='show' attr=':v_title'>node title</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr-fr" />
  
  <link href="stylesheets/zen.css" rel="Stylesheet" type="text/css" />
  <link href="stylesheets/comment.css" rel="Stylesheet" type="text/css" />
  <link href="stylesheets/search.css" rel="Stylesheet" type="text/css" />
  <link href="stylesheets/code.css" rel="Stylesheet" type="text/css" />
  <z:javascripts list='prototype,effects,zena'/>
  <z:uses_calendar/>
</head>

<body>
  <div class="navbar">
    <div id='lang' zafu='lang_links'><a>en</a> | <b>fr</b></div>
    <div id='path' zafu='path_links'><ul><li><a href='#'>first</a></li> / <li><a href='#'>second</a></li> / <li><a href='#' class='current'>here</a></li></ul></div>
    <div id='login' zafu='login_link'><a href='#'>login</a></div>
    <div id='visitor' zafu='visitor_link'><a href='#'>visitor name</a></div>
    <div id='search' zafu='search_box'><div class='search'><form><input type='text' id='search' name='search'/></form></div></div>
  </div>

  <div id='menu' zafu='menu'>
    <ul class='menu'><li><a>first</a></li>
      <li><a>second</a><ul><li><a>sub</a></li><li><a>sub</a><ul><li><a>subsub</a></li></ul></li></ul></li>
    </ul>
  </div>
  
  <div id='logo' zafu='link' href='root'><img src='img/logo.png' width='220' height='100'/></div>
  
  <z:flash_messages/>

  <div id="left">
    <%#= plug :calendar, :tiny %>
    <%#= plug :notes %>
  </div>
  <div id="main">
    <z:case>
      <z:when kind_of='Image'><z:include template='image_title'/></z:when>
      <z:when kind_of='Document'><z:include template='document_title'/></z:when>
      <z:when kind_of='Contact'><z:include template='contact_title'/></z:when>
      <z:else>
        <div class='<%= @node.class.to_s.downcase %>_title'>
          <h1 class='title' zafu='title' status='true' actions='all'><div class='s50'>page title
            <ul class='actions'><li><a><img src='images/page_edit.png'/></a></li><li><a><img src='images/wand.png'/></a></li></ul></div>
          </h1>
          <div class='subtitle' zafu='author' size='large'>posted by <b>someone</b>.
            <z:traductions>Traductions: <z:each join=', '><z:link trans='lang'/></z:each></z:traductions></div>
        </div>
      </z:else>
    </z:case>
      
    <div class='content' id='content'>
      <div class='summary' zafu='summary' empty='true'><div class='zazen'><p>Suspendisse purus purus, aliquam non, euismod vitae, eleifend at, erat. Nullam a mauris laoreet nisl varius pulvinar. Integer ut velit. Ut eget orci et ligula faucibus placerat. Nulla volutpat pellentesque orci. Nunc at ipsum vel tortor vehicula fringilla. Fusce vel quam. Pellentesque aliquet eleifend tortor. Cras erat dui, sagittis eget, iaculis in, imperdiet vitae, enim. Suspendisse lacus.</p></div></div>
      
      <div zafu='text'><div class='zazen'>
        <h2>title2</h2>
        <h3>title3</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi quam. Fusce pulvinar blandit sapien. Vivamus vel lorem ac eros adipiscing varius. Aenean malesuada odio ut elit. Duis nec neque. Aenean et leo nec ligula semper consequat. Sed accumsan nunc in enim. In mauris dolor, nonummy in, congue id, aliquam vel, mauris. Aenean sollicitudin, lectus non cursus cursus, velit purus condimentum dui, nec euismod ante purus eu libero. Morbi ultricies dictum tortor. Morbi augue mauris, ullamcorper ac, dictum et, cursus eu, orci. Phasellus odio massa, imperdiet non, rhoncus quis, elementum quis, pede. Nunc porttitor fermentum mauris. Vestibulum sem sapien, aliquam eget, accumsan sit amet, dignissim aliquam, justo.</p>

        <p>Suspendisse purus purus, aliquam non, euismod vitae, eleifend at, erat. Nullam a mauris laoreet nisl varius pulvinar. Integer ut velit. Ut eget orci et ligula faucibus placerat. Nulla volutpat pellentesque orci. Nunc at ipsum vel tortor vehicula fringilla. Fusce vel quam. Pellentesque aliquet eleifend tortor. Cras erat dui, sagittis eget, iaculis in, imperdiet vitae, enim. Suspendisse lacus.</p>
        
        <h3>title3</h3>

        <p>Nunc ultrices. Phasellus dignissim risus sit amet lectus. Nullam vehicula nisi ut neque. Integer congue. Duis ac sem. Vivamus sed est. Duis aliquet commodo odio. Phasellus et justo. Donec mi. Donec bibendum euismod ante. Donec euismod vulputate arcu.</p>

<h4>title4</h4>
        <p>Quisque at est in leo mattis tincidunt. Aenean vitae lacus eget mauris auctor faucibus. Duis sollicitudin eleifend lorem. Donec ultrices. Maecenas nec nisl vitae metus pretium euismod. Maecenas pretium, augue eget mollis porttitor, mi enim adipiscing ante, nec gravida risus velit at urna. Maecenas et nulla. Mauris nisl eros, commodo at, semper sit amet, rutrum a, ante. Vivamus justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis fermentum venenatis arcu.</p>
      </div></div>
      <div zafu='include' template='comments' id='comments' class='comments'>
        <div id='comments12'>
          <h3>comments</h3>
          <ul>
            <li id='comment15' class='c40'>
              <div class='header'>
                <span class='reply'><a>reply</a></span>
                <span class='actions'><a><img src='images/delete.png'/></a></span>
                <span class='date'>14.02.2006 20:12</span>
                <span class='sign'>Gaspard Bucher</span>
                <span class='title'>nice layout</span>
              </div>
              <div class='body'>
                <div class='zazen'><p>Quisque at est in leo mattis tincidunt. Aenean vitae lacus eget mauris auctor faucibus. Duis sollicitudin eleifend lorem. Donec ultrices. Maecenas nec nisl vitae metus pretium euismod. Maecenas pretium, augue eget mollis porttitor, mi enim adipiscing ante, nec gravida risus velit at urna.</p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque mi dui, feugiat ut, rhoncus sollicitudin, convallis non, tortor. Mauris nec nulla. Nunc volutpat, massa non congue convallis, nisl urna tristique lectus, id vehicula libero augue quis tortor. Duis eget metus non metus eleifend sodales. Vivamus dolor sapien, ornare eu, congue in, interdum vel, justo. Donec urna ipsum, vulputate in, iaculis in, ullamcorper ut, lorem. Donec pharetra diam a lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p></div>
                <ul class='sub' id='replies_to54'></ul>
              </div>
            </li>
            <li>comments closed</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="right">
      <div id='documents'>
        <%= render :partial=>'document/list' %>
      </div>
      <div id='pages'>
        <%= render :partial=>'page/list'     %>
      </div>
    </div>
  </div>
  <%= css_edit %>
  </div>
</body>
</html>