<%
if li.public_group?
  icon = 'group_pub'
elsif li.site_group?
  icon = 'group_site'
else
  icon = 'group'
end %>
<tr id='group<%= li[:id] %>'>
  <td class="icon"><%= link_to_remote( _("img_#{icon}"), :update=>"group#{li[:id]}", :url=>edit_group_path(li), :method=>:get) %></td>
  <td class="name"><%= li.name %></td>
  <td class="users"><%= li.active_users.map {|u| (u.login || 'anon') }.join(', ') %></td>
</tr>