<% icon = 'group'
if li[:id] == 1
  icon += '_pub'
elsif li[:id] == 2
  icon += '_admin'
elsif li[:id] == 3
  icon += '_site'
end %>
<tr id='group<%= li[:id] %>'>
  <td class="icon"><%= if (li.public_group? || li.site_group?) then _("img_#{icon}") else link_to_remote( _("img_#{icon}"), :update=>"group#{li[:id]}", :url=>edit_group_path(li), :method=>:get) end %></td>
  <td class="name"><%= li.name %></td>
  <td class="users"><%= li.users.map {|u| (u.login || 'anon') }.join(', ') %></td>
</tr>