<h2 class='title'><%= _('groups') %></h2>
<table class="admin" cellspacing="0">
  <tr><th class='nav' colspan='3'><%= will_paginate @groups %></th></tr>
  <%= render :partial=>'groups/li',  :collection=>@groups %>
  <%= render :partial=>'groups/add', :locals=>{:users=>@users} %>
</table>