<div id='content'>
  <h3><%= _('manage groups') %></h3>
  <table class="admin" cellspacing="0">
    <%= render :partial=>'groups/li',  :collection=>@groups %>
    <%= render :partial=>'groups/add', :locals=>{:users=>@users} %>
  </table>
  <%= link_to _("Previous page"), { :page => @group_pages.current.previous } if @group_pages.current.previous %>
  <%= link_to _("Next page"), { :page => @group_pages.current.next } if @group_pages.current.next %>
</div>

<div id='right'>
</div>