<h3><%= _('manage users') %></h3>

<table id='user_list' class='admin' cellspacing="0">
  <tr><th class='nav' colspan='5'><%= will_paginate @users %></th></tr>
  <%= render :partial=>'users/li',  :collection=>@users %>
  <%= render :partial=>'users/add', :locals=>{:groups=>@groups} %>
</table>