<h3><%= _('image_format') %></h3>
<table class="admin" cellspacing="0">
  <tr><th class='nav' colspan='3'>&nbsp;</th></tr>
  <tr id='image_format<%= @image_format[:id] %>'><%= render :partial=>'image_formats/form' %></tr>
</table>