<h3><%= _('manage classes') %></h3>

<table id='image_format_list' class='admin' cellspacing="0">
  <%= render :partial=>'image_formats/li',  :collection=>@image_formats %>
  <%= render :partial=>'image_formats/add' %>
</table>