<tr id='column<%= li[:id] %>'>
  <td class="adm_icon"><%= (li.new_record? || !li.errors.empty?) ? _('column_error_img') : link_to_remote(_("img_#{li.ptype}"),
          :update =>"column#{li[:id]}",
          :url    => edit_column_path(li),
          :method => :get) %></td>
  <td class='name'>
    <%= li.name %>
  </td>
  <td class='index'>
    <%= li.index_name %>
  </td>
</tr>