<h3><%= _('property') %></h3>
<table class="admin" cellspacing="0">
  <tr><th class='nav' colspan='3'>&nbsp;</th></tr>
  <tr id='property<%= @column[:id] %>'><%= render :partial=>'columns/form' %></tr>
</table>