<h1>Listing columns</h1>

<table>
  <tr>
  </tr>

<% @columns.each do |column| %>
  <tr>
    <td><%= link_to 'Show', column %></td>
    <td><%= link_to 'Edit', edit_column_path(column) %></td>
    <td><%= link_to 'Destroy', column, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New column', new_column_path %>