<h2 class='title'><%= _('manage properties') %></h2>

<table id='column_list' class='admin' cellspacing="0">
  <tr><th class='nav' colspan='7'><%= will_paginate @columns %></th></tr>
  <%= render :partial=>'columns/li',  :collection=>@columns %>
  <%= render :partial=>'columns/add' %>
</table>
