<li id="add_page" style="display:block;" class="btn_add">
  <%= link_to_function _('btn_add_page'), "['add_page', 'add_page_form'].each(Element.toggle); $('page_name').focus();" %>
</li>
<li id="add_page_form" style="display:none;" class="inline_form">
  <%= render :partial=>'page/form' %>
</li>