<li id="add_page" style="display:block;" class="btn_add">
  <%= link_to_function transb('btn_add_page'), "new Element.toggle('add_page', 'add_page_form'); $('page_name').focus();" %>
</li>
<li id="add_page_form" style="display:none;" class="inline_form">
  <%= render :partial=>'page/form' %>
</li>