<%= form_remote_tag(:with=>"add_page_form", :url=>{:controller=>'page', :action=>"create", :rnd=>rnd}) %>
<% Tag # annonce -%>
<p class="btn_x"><%= link_to_function transb('btn_x'), "new Element.toggle('add_page', 'add_page_form')" %></p>
<%= select('page', 'klass', Page.select_classes ) %>
<%= text_field("page", "name", :size=>15 ) %>
<%= hidden_field("page", "parent_id", :value=>@item.id ) %>
<%= end_form_tag %>