<h2 class='title'><%= _('image formats') %></h2>

<table id='iformat_list' class='admin' cellspacing="0">
  <tr><th class='nav' colspan='7'>&nbsp;</th></tr>
  <%= render :partial=>'iformats/li',  :collection=>@iformats %>
  <%= render :partial=>'iformats/add' %>
</table>