<tr id='add_link' class='btn_add'>
  <td class='add' colspan='4' ><%= link_to_function _('btn_add_link'), "['add_link', 'add_link_form'].each(Element.toggle); $('page_parent_id').focus();" %></td>
</tr>
<tr id='add_link_form' style='display:none;' class='inline_form'>
  <%= render :partial=>'links/form'%>
</tr>