<% @node.vclass.safe_columns.each do |col|
  next if %w{title text summary}.include?(col.name) -%>
  <label for='<%= col.name %>'><%= _(col.name) %></label>
  <% case col.ptype
     when :datetime %>
    <%= date_box(@node, "node[#{col.name}]", :size=>15, :value => @node.prop[col.name]) %>
  <% else %>
    <%= text_area 'node', col.name, :cols => nil, :rows => 1, :value => @node.prop[col.name], :class => 'full_width' %>
  <% end %>
<% end -%>