<%= form_tag( import_node_path(@node.parent_zip), :multipart => true) %>
<p class="btn_validate"><input type="submit" onclick="$('loader').style.visibility = 'visible';" value='<%= _('validate') %>'/></p>

<label for='node_c_file'><%= _('file') %></label>
<input id="archive" name="node[archive]" class='file' type="file" />

<label for='node_klass'><%= _('class of first element') %></label>
<%= select('node', 'klass', Node.classes_for_form, :selected => 'Page' ) %><br/>
</form>