<tr id='add_user' class='btn_add'>
  <td class='add_icon'><%= link_to_function transb('btn_user_add'), "new Element.toggle('add_user', 'add_user_form'); $('user_login').focus();" %></td><td colspan='2' class='add_user'></td>
</tr>
<tr id='add_user_form' style='display:none;'>
  <%= render :partial=>'user/form' %>
</tr>