<tr id='add_group' class='btn_add'>
  <td class='add'><%= link_to_function transb('btn_group_add'), "new Element.toggle('add_group', 'add_group_form'); " %></td><td colspan='2' class='add_user'></td>
</tr>
<tr id='add_group_form' style='display:none;'>
  <%= render :partial=>'group/form' %>
</tr>
