<table class="admin_ug" cellspacing="0">
  <%= render_to_string :partial=>'admin/group', :collection=>groups %>
  <%= render_to_string :partial=>'admin/add_group', :locals=>{:users=>users} %>
</table>