<tr class="v<%= li.status %>">
  <td class="view"><%= version_actions( li, :action=>:view) %></td>
  <td class="number"><%= li.number %></td>
  <td class="lang"><%= li.lang %></td>
  <td class="status"><%= trans("status_#{li.status}") %></td>
  <td class="comment"><%= li.comment %></td>
  <td class="date"><%= format_date(li.updated_at, 'datetime') %></td>
  <td class="initials"><%= li.author.initials %></td>
  <td class="actions"><%= version_actions(li) %></td>
</tr>