<%= javascript_start %>
  function popup_loaded() {
    opener.location.href=opener.location.href;
    //self.close();
  }
<%= javascript_end %>
<div class="popup_action">
  <p class="btn_x"><%= link_to_function transb('btn_x'), "self.close();" %></p>
</div>