<% if @node.ref.can_visible? || @node[:max_status] < Zena::Status[:pub] %>
<div class='drive' id='groups'>
  <%= render :partial=>'node/groups'%>
</div>

<div class='drive' id='parent'>
  <%= render :partial=>'node/parent'    %>
</div>
<% end -%>

<div class='drive' id='dates'>
  <%= render :partial=>'node/dates'    %>
</div>