<% if @node.ref.can_visible? || @node[:max_status] < Zena::Status[:pub] %>
<div class='drive' id='groups'>
  <%= render :partial=>'nodes/groups'%>
</div>

<div class='drive' id='parent'>
  <%= render :partial=>'nodes/parent'    %>
</div>
<% end -%>

<div class='drive' id='dates'>
  <%= render :partial=>'nodes/dates'    %>
</div>

<div class='drive' id='position'>
  <%= render :partial=>'nodes/position'    %>
</div>