<label for='links'><%= trans('links') %></label>
<%= render :partial=>'link/list'     %>

<label for='versions'><%= trans('versions') %></label>
<%= render :partial=>'version/list'     %>

<label for='discussions'><%= trans('discussions') %></label>
<%= render :partial=>'discussion/list'     %>