<label for='links'><%= _('links') %></label>
<%= render :partial=>'links/list'     %>

<label for='versions'><%= _('versions') %></label>
<div id='versions_list'><%= render :partial=>'versions/list'     %></div>

<label for='discussions'><%= _('discussions') %></label>
<%= render :partial=>'discussions/list'     %>