<label for='links'><%= _('links') %></label>
<%= render :partial=>'nodes/links'     %>

<label for='versions'><%= _('versions') %></label>
<%= render :partial=>'versions/list'     %>

<label for='discussions'><%= _('discussions') %></label>
<%= render :partial=>'discussions/list'     %>