<tr id='add_virtual_class' class='btn_add'>
  <td class='add'><%= link_to_function _('btn_virtual_class_add'), "['add_virtual_class', 'add_virtual_class_form'].each(Element.toggle); $('virtual_class_name').focus();" %></td><td colspan='2' class='add_virtual_class'></td>
</tr>
<tr id='add_virtual_class_form' style='display:none;'>
  <%= render :partial=>'virtual_classes/form' %>
</tr>