<h2 class='title'><%= _('virtual class') %> <%= @virtual_class.name %></h2>

<table id='virtual_class_list' class='admin' cellspacing="0">
  <tr id='add_virtual_class_form'>
    <%= render :partial=>'virtual_classes/form' %>
  </tr>
</table>
