<li id='add_document' style='display:block;' class='btn_add'>
<a href='#' onClick='uploader=window.open("<%= url_for :controller=>'document', :action=>'new', :parent_id=>@node %>", "uploader", "location=1,width=400,height=300");return false;'><%= transb('btn_add_doc')%></a>
</li>