<li class="li_s<%= li.v_status %>">
<span class="ext"><%= link_to li.img_tag('tiny'), data_url(li) %></span>
<%= link_to show_title(li), :prefix => prefix, :controller => 'main', :action=>'show', :path=>li.fullpath %>
</li>