<div class='document_title'>
  <table class="block" cellspacing="0" borderspacing="0">
    <tr class="b<%= @node.v_status %>">
      <td class="content">
        <%= link_to @node.img_tag('pv'), data_url(@node) %>
      </td>
      <td class='subtitle'>      
        <h1 class="s<%= @node.v_status %>"><%= show_title %><br/>
          <ul class='node_actions'><%= edit_button(:all) %></ul>
        </h1>
        <%= author(:large) %><%#= plug :links %>
      </td>
    </tr>
  </table>
</div>