<%= javascript "opener.Zena.update( 'documents', '#{ url_for(:controller=>"document", :action=>"list", :parent_id=>@document.parent_id, :rnd=>salt_against_caching) }');" %>
<div class="popup_action">
  <p class="btn_x"><%= link_to_function transb('btn_x'), "opener.location.href=opener.location.href; self.close();" %></p>
  <table>
    <tr><td><p><%= @document.img_tag('pv') %></p><p><%= @document.name %></p></td><td style='vertical-align:middle;'><%= trans('uploaded')%></td></tr>
  </table>
  <p><%= trans("upload more ?") %> <%= link_to transb('btn_add_doc'), :controller=>'document', :action=>'new', :parent_id=>@document.parent_id %></p>
  <p><%= link_to_function transb('close'), "self.close();" %></p>
</div>