<tr id='add_translation'>
  <td class='header'>Add new</td><td width='400' id='new_translation' colspan='2'><%= link_to_remote 'keyword', :update=>'new_translation', :url=>{:action=>'add'}, :complete=>"$('translation_keyword').focus()"%></td>
</tr>