<%= form_tag %>
<select id="lang_lang" name="lang[lang]" onChange="window.location.href='?lang='+(this.options[this.selectedIndex].value)">
<%= options_for_select ZENA_ENV[:languages], lang %>
</select>
</form>