<h2 class='title'><%= _('manage sites') %></h2>

<table id='site_list' class='admin' cellspacing="0">
  <tr><th class='nav' colspan='9'><%= will_paginate @sites %>
  <%= render :partial=>'sites/li',  :collection=>@sites %>
</table>