<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title><%= params[:action] %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr-fr" />
  <%= stylesheet_link_tag( 'zen', 'comment', 'admin', 'search' ) %>
  <%= javascript_include_tag 'prototype', 'effects', 'zena' %>
  <%= uses_calendar %>
</head>

<body <%= @su %>>
  <div class="navbar">
    <div id='lang'><%= lang_links %></div>
    <div id='login'><%= login_link   %></div>
    <div id='visitor'><%= visitor_link %></div>
    <div id='search'><%= search_box   %></div>
  </div>

  <div id='menu'><%= show_menu      %></div>
  <div id='logo'><a href='/'><img src='/img/logo.png' width='220' height='100' alt='logo'/></a></div>
  <%= flash_messages %>
  
  <%= css_edit('admin.css') %>
  <div id='left'>
    <ul>
      <li><%= show_link(:admin_links).join('</li><li>')%></li>
    </ul>
  </div>
  <div id='main'>
    <%= @content_for_layout %>
  </div>
  
</body>
</html>