<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title><%= params[:action] %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr-fr" />
  <%= stylesheet_link_tag( 'zen', 'comment', 'admin' ) %>
  <%= javascript_include_tag 'prototype', 'effects', 'zena' %>
  <%= uses_calendar %>
  <%= javascript "Calendar._TT[\"DEF_DATE_FORMAT\"] = \"#{trans('long_date')}\";" if trans('long_date') != 'long_date' %>
</head>

<body <%= @su %>>
  
  <div id='navbar'>
    <%= login_link   %>
    <%= visitor_link %>
  </div>

  <%= show_menu      %>
  <%= logo Time.now  %>
  <%= flash_messages %>
  
  <%= css_edit('admin.css') %>
  <div id='left'>
    <ul>
      <li><%= tlink_to('comments management', :controller=>'comment', :action=>'list') %></li>
      <li><%= translation_link %></li>
    </ul>
  </div>
  <div id='main'>
    <%= @content_for_layout %>
  </div>
  
</body>
</html>