<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title><%= @window_title || 'Zena' %></title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="fr-fr" />
	<%= stylesheet_link_tag 'popup' %>
	<%= javascript_include_tag 'prototype', 'effects', 'zena' %>
</head>

<body onLoad='popup_loaded();'>
	<div id='messages'><%= flash_messages %></div>
<%= @content_for_layout %>

</body>
</html>
